<div class="info-block">
  <div class="info-box">
    <div class="heading">
      <h2>Feedback Map</h2>
      <p>Country where the user has given the Survey</p>
    </div>
    <ul class="list">
      <li class="v-good">200+</li>
      <li class="negative">200-</li>
    </ul>
  </div>
  <div class="map-holder">
    <div map-lazy-load="http://maps.google.com/maps/api/js">
      <map center="30,70" zoom="{{zoom}}" disable-default-u-i="true">
        <!-- <marker position="{{destination}}" ng-repeat="destination in destinations"></marker> -->
        <custom-marker position="{{destination}}" ng-repeat="destination in destinations" on-click = "zoomIn(destination)">
          <ul class="list">
            <li class="v-good"></li>
          </ul>
        </custom-marker>
      </map>
    </div>
  </div>
</div>
