//Fonts Import
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

//Variables
$gray-light:#eaeaea;
$gray-mid:#a0a0a0;
$gray-dark:#292929;
$yellow:#ffc300;
$red:#ac1a1a;




//Fonts
$body-font:16px;

$font-family-thin: 'museo_slab100';
$font-family-regular: 'museo_slab300';
$font-family-semibold: 'museo_slab500';
