<div class="ibox float-e-margins" ng-class="{loading: show_loading}">
  <div class="ibox-title">
      <h5>Timeline</h5>
      <div class="ibox-tools">
          <ul class="tab-links">
              <li>
                  <div class="calender-outer">
					  <span class="calendar-holder">
						   <input date-range-picker id="daterange-map" readonly="readonly" name="daterange-map" class="date-picker" type="text" ng-model="date" ng-disabled = "!mainView" max="today" options = "datePickerOption" readonly="true"/>
						  <i class="fa fa-calendar" map-range-click></i>
					  </span>
				  </div>
              </li>
          </ul>
      <a ng-click = "backToMain()" ng-hide = "mainView" class="btn-back">Back</a>
      </div>
  </div>
  <div class="ibox-content" same-rating-height data-data="overall_rating_data">
      <ul class="legends-list">
        <li ng-repeat = "label in labels track by $index">
          <span class="bullet" style = "background-color: {{label.color}}"></span>
          <a ng-click="labelClick(label)">{{label.option_name}}</a>
        </li>
      </ul>
      <div class="block-holder" time-line data-data = "overall_rating_data" data-action="optionClick(option_object)">
      	  <a ng-click = "Prev()" ng-show = "mainView" class="btn-prev fa fa-angle-left"></a>
          <a ng-click = "Next()" ng-show = "mainView" class="btn-next fa fa-angle-right"></a>
          <a ng-click = "labelPrev()" ng-show = "optionView" class="btn-prev fa fa-angle-left"></a>
          <a ng-click = "labelNext()" ng-show = "optionView" class="btn-next fa fa-angle-right"></a>
          <div id="chartdiv" style="width: 100%; height: 320px;"></div>
      </div>
  </div>
</div>
