body{
	background: #f1c40f !important;
	min-width: 320px;
}

.morris-block-holder{letter-spacing: -6px;}

.morris-block-holder .morris-content-holder{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 20%;
	padding: 0 5px;
	text-align: center;
}

.morris-block-holder .morris-graph-holder .morris-holder{
	height: 100px;
	padding: 0 3px;
}

.regional-holder,
.morris-holder{white-space: nowrap;}
.regional-holder{
	min-height: 200px;
	text-align: center;
}

.regional-holder:after,
.morris-holder:after{
	display: inline-block;
	vertical-align: middle;
	content: '';
	min-height: 100%;
	width: 1px;
	overflow: hidden;
}

.regional-holder:after{min-height: inherit;}

.regional-holder > .regional-frame,
.morris-holder > *{
	display: inline-block;;
	vertical-align: middle;
	width: 100%;
	white-space: normal;
	letter-spacing: 0;
}

.morris-content-outer .title,
.morris-block-holder .title{
	display: block;
	font-weight: normal;
	color: #888;
}

.morris-content-outer .title a,
.morris-block-holder .title a{color: #888;	}

.morris-content-outer .title a:hover,
.morris-block-holder .title a:hover{color: #000;}

.morris-content-outer{letter-spacing: -6px;}

.morris-content-outer .morris-content-holder{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 16.6667%;
	padding: 0 10px;
	text-align: center;
}

.ibox.detail-block .stat-percent.font-bold.text-navy{color: #3498db;}
.ibox.detail-block .label.label-primary{
	background: #f1c40f;
	color: #fff;
}

.same-height-block .inner-row .col-sm-6 .ibox.detail-block .content-holder{vertical-align: top;}

.ibox.detail-block .ibox-content h1{
	text-align: center;
	font-size: 40px;
}

.w1{
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}
.flot-chart{
	height: auto !important;
	text-align: center;
}

.w2{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	border-top: 1px solid #e7eaec;
}

.ibox.detail-block .ibox-content{
	padding: 14px 20px 15px;
	border-top: 0 !important;
}

.ibox.detail-block h5{
	overflow: hidden;
	float: none;
	display: block;
}

.ibox-content .graph-block canvas{
	width: 100% !important;
	height: auto !important;
}

.navbar.dashboard{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 15px;
	z-index: 10;
	background: rgba(255,255,255,0.8);
	border-radius: 0;
	-webkit-border-radius: 0;
}

.navbar.dashboard .navbar-minimalize{
	background: #ac1a1a;
	border-color: #ac1a1a;
}

.navbar.dashboard .navbar-minimalize:hover,
.navbar.dashboard .navbar-minimalize:active,
.navbar.dashboard .navbar-minimalize:focus{
	background: #ac1a1a;
	border-color: #ac1a1a;
}

#wrapper .sidebar-collapse .nav > li > a{
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #000;
}

#wrapper .sidebar-collapse .nav > li > a:hover,
#wrapper .sidebar-collapse .nav > li > a:active,
#wrapper .sidebar-collapse .nav > li > a:focus{color: #fff;}

#wrapper .sidebar-collapse .nav > li.active{border-left-color: #ac1a1a;}
#wrapper .sidebar-collapse .nav > li.active a{color: #fff;}

.header-visual{
	margin: 0 -15px;
	overflow: hidden;
	position: relative;
	z-index: 0 !important;
}

.header-visual .img-holder{
	overflow: hidden;
	max-height: 152px;
}

.header-visual .inner-holder{
	width: 100%;
	min-width: 550px;
	position: relative;
	left: 50%;
}

.header-visual .img-holder img{
	width: 100%;
	min-width: 550px;
	position: relative;
	left: -50%;
}

.header-caption{
	position: absolute;
	left: 23px;
	right: 23px;
	top: 0;
	bottom: 0;
	z-index: 9;
	color: #000;
	padding: 65px 0 5px;
	white-space: nowrap;
}

.header-caption:after{
	display: inline-block;
	vertical-align: middle;
	content: "";
	overflow: hidden;
	min-height: 100%;
	width: 1px;
}

.header-caption h1{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	margin: 0;
	font-weight: 600;
}

.pace .pace-progress{background: #ac1a1a;}

.sidebar-collapse:before{
	position: absolute;
	right: -10px;
	top: 0;
	z-index: 2;
	pointer-events:none;
	bottom: -9999px;
	width: 10px;
	content: "";
	-webkit-box-shadow: -6px 0 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: -6px 0 4px 0 rgba(0, 0, 0, 0.05);
}

.logo-holder{
	width: 100%;
	height: 152px;
	background: #ac1a1a;
	white-space: nowrap;
	text-align: center;
	padding: 0 10px;
}

.logo-holder:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	min-height: 100%;
	content: "";
	width: 1px;
}

.logo-holder .logo{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: 100%;
}

#wrapper{
	overflow: hidden;
	position: relative;
}

#wrapper .minimalize-styl-2{margin: 14px 5px 5px 10px;}

.same-height{white-space: nowrap;}

.same-height:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	min-height: 100%;
	content: "";
	width: 1px;
}

.same-height .block-holder{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

#world-map{
	height: 100% !important;
	width: 100% !important;
	min-height: 300px;
}

#chartdiv{
	width: 100% !important;
	height: auto !important;
}

.same-height .block-holder{height: 100% !important;}

#world-map > div{
	width: 100% !important;
	height: 100% !important;
}
#world-map > div > map{
	width: 100% !important;
	min-height: 100% !important;
}

.amChartsLegend.amcharts-legend-div{display: none !important;}

.comment-block{
	position: absolute;
	right: 0;
	top: 152px;
	z-index: 999;
	bottom: 0;
	pointer-events:none;
}

.comment-block .btn-holder{overflow: hidden;}

.comment-block.fixed-position{
	position: fixed;
	right: 0 !important;
	top: 0 !important;
}

.comment-block > .nav-opener{
	pointer-events: auto;
	float: right;
	background: #ffc72c;
	color: #fff;
	margin-top: 0;
	padding: 10px;
	font-size: 30px;
	line-height: 30px;
	position: relative;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.comment-block > .nav-opener:hover{background: #ffbc01;}

.comment-block > .nav-opener .count{
	position: absolute;
	right: 5px;
	top: 7px;
	background: #d30000;
	width: 18px;
	height: 18px;
	font-size: 13px;
	line-height: 16px;
	padding: 0 1px 2px;
	font-weight: 700;
	text-align: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.comments-drop{
	pointer-events: auto;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	width: 300px;
	overflow: hidden;
	background: #fff;
	margin-right: -10px;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-box-shadow: -3px 0 7px rgba(0,0,0,.24);
	-moz-box-shadow: -3px 0 7px rgba(0,0,0,.24);
	box-shadow: -3px 0 7px rgba(0,0,0,.24);
}

.comments-drop .comments-holder{
	overflow: auto;
}

.nav-active .comment-block > .nav-opener{
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.nav-active .comments-drop{
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	margin-right: 0;
}

.comments-drop .nav-opener{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #676767;
	font-size: 20px;
	line-height: 20px;
	z-index: 99;
}

.comments-drop .nav-opener:hover{color: #5b5a5a;}

.comments-drop .heading-holder .holder{
	overflow: hidden;
	padding: 20px 10px 10px;
	text-align: center;
}

.comments-drop .icon-holder{overflow: hidden;}

.comments-drop .icon-holder i{
	cursor: default;
	font-size: 100px;
	line-height: 100px;
	color: #f1c40f;
}

.comments-drop h2{
	margin: 0 0 10px;
	font-weight: 600;
	color: #676767;
}

.comments-drop .btn.btn-info{
	background: #f1c40f;
	border-color: #f1c40f;
	border-radius: 0;
	width: 100%;
	padding: 10px 5px;
	display: block;
}

.comments-drop .btn.btn-info:hover,
.comments-drop .btn.btn-info:active,
.comments-drop .btn.btn-info:focus{background: #f8ce27;}

.comments-list{
	overflow: hidden;
	margin: 0;
	height: 100%;
	overflow: auto;
	border-top: 1px solid #d9d9d9;
}

.comments-list li{
	border-style: solid;
	border-width: 0 0 1px 6px;
	border-color: #d9d9d9;
	background: #fff;
	overflow: hidden;
	color: #000;
	font-size: 13px;
	line-height: 16px;
	padding: 15px;
}
.comments-list li p{margin: 0;}
.comments-list li:hover{background: #f6f6f6;}
.comments-list li.positive{border-left-color: #01ad0f;}
.comments-list li.negative{border-left-color: #e41e1e;}
.comments-list li.deferred{
	background: #fce8e8;
	font-weight: 600;
}
.comments-list li.deferred:hover{background: #fbe0e0;}
.comments-list li.processed{
	background: #e5f7e7;
	font-weight: 600;
}
.comments-list li.processed:hover{background: #e2fbe5;}
.comments-list li time{
	font-size: 11px;
	line-height: 14px;
	display: block;
	color: #8b8b8b;
	font-weight: 400;
}

.detail-block h1{font-size: 30px;}

.tab-links{
	padding: 0;
	margin: -14px -15px -8px 0;
	list-style: none;
	letter-spacing: -6px;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

.tab-links li{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	text-align: center;
	border-left:1px solid #e7eaec;
	position: relative;
}

.tab-links li a{
	color: #676a6c;
	padding: 13px 20px;
	display: block;
	margin: 0;
	border-bottom: 1px solid #e7eaec;
}

.calender-outer{
	min-width: 60px;
	height: 46px;
	white-space: nowrap;
	color: #676a6c;
	text-align: center;
	cursor: pointer;
	cursor: pointer;
}

.calender-outer:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 1px;
	min-height: 100%;
	content: "";
}

.calender-outer .date-picker{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	border: 0;
	background: none;
	color: #fff;
	cursor: pointer;
}

.calender-outer .calendar-holder{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

.tab-links li:hover a,
.tab-links li:active a,
.tab-links li.active a,
.tab-links li:focus a{
	border-bottom-color: #fff;
	color: #000;
}

.calender-outer:hover .fa-calendar,
.calender-outer:active .fa-calendar,
.calender-outer:focus .fa-calendar{color: #000;}

body.login{background: #eee !important;}

#header{
	overflow: hidden;
	text-align: center;
}

#header .logo{
	display: block;
	width: 116px;
	margin: 5px auto 20px;
}

#header .logo img{
	display: block;
	width: 100%;
	height: auto;
}

#header h2{
	font: 30px/36px 'Times New Roman','Georgia','serif';
    color: #e02127;
    margin: 0 0 30px;
}

.tooltip{
	letter-spacing: 0;
	opacity: 1;
}

.tooltip.top{opacity: 1;}
.tooltip.top .tooltip-arrow{
	border-top-color: #fff !important;
	opacity: 1;
}

.tooltip .tooltip-inner{
	opacity: 1;
	background: #fff;
	color: #000;
	min-width: 120px !important;
	padding: 10px 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0 , 0.2);
	box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.breadcrum{
	background: #fff;
	overflow: hidden;
	padding: 5px 15px;
	letter-spacing: -6px;
}

.breadcrum > span{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
}

.breadcrum > span + span:before{
	display: inline-block;
	vertical-align: top;
	content: "/";
	margin: 0 1px 0 5px;
	color: #337ab7;
}

#footer{
	margin: 0 -15px;
	overflow: hidden;
}

#footer .footer-inner{
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #888;
}

#footer a{color: #888;}

#footer a:hover,
#footer a:active,
#footer a:focus{color: #000;}

#footer p{margin: 0;}

.footer-holder{
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-holder .footer-text,
.footer-holder .footer-container{
	float: left;
	width: 50%;
	padding: 0 15px;
}

.footer-holder .footer-container{text-align: right;}

#wrapper .info-holder td,
#wrapper .info-holder th{vertical-align: middle;}

.modal-1200{
	border-radius: 0;
	z-index: 99999;
}

.modal-1200 .modal-content{border-radius: 0;}

.modal-1200 .modal-header{border: 0;}

.modal-1200 .modal-header h2{
	margin: 0;
	overflow: hidden;
}

.modal-1200 .modal-header .close-btn-font{
	cursor: pointer;
	color: #888;
	font-size: 20px;
	line-height: 20px;
	margin: 2px 0 0;
}

.modal-1200 .modal-header .close-btn-font:hover{color: #000;}
.modal-1200 .modal-body{padding: 0 0 20px;}
.modal-1200 .modal-body:after{
	display: block;
	content: "";
	clear: both;
}
.modal-1200 .modal-body .table-block{
	position: relative;
	width: 100% !important;
	min-height: 200px !important;
	height: auto !important;
}
.modal-1200 .modal-body .jcf-scrollbar-dec,
.modal-1200 .modal-body .jcf-scrollbar-inc{
	width: 0 !important;
	height: 0 !important;
}
.modal-1200 .modal-body .table-container .jcf-scrollbar-inc{height: 8px !important;}
.modal-1200 .modal-body .jcf-scrollbar-horizontal,
.modal-1200 .modal-body .jcf-scrollbar-vertical{
	background: none !important;
	height: 7px;
}
.modal-1200 .modal-body .jcf-scrollbar-vertical{width: 7px;}
.modal-1200 .modal-body .jcf-scrollbar-vertical .jcf-scrollbar-handle,
.modal-1200 .modal-body .jcf-scrollbar-horizontal .jcf-scrollbar-handle{
	background: rgba(146,146,146,0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 7px;
}
.modal-1200 .modal-body .jcf-scrollbar-vertical .jcf-scrollbar-handle{width: 7px;}
.modal-1200 .modal-body .table-container{
	position: relative;
	width: 100% !important;
	min-height: 200px !important;
	height: 200px;
	min-width: 730px;
}
.modal-1200 .modal-body .table-holder{height: 1%;}
.modal-1200 .modal-body .table-holder:after{
	display: block;
	content: "";
	clear: both;
}
.modal-1200 .modal-body .table-block > .jcf-scrollable-wrapper > .jcf-scrollbar.jcf-scrollbar-vertical{
	position: absolute;
	right: 3px;
	top: 0;
}
.modal-1200 .modal-body .table-holder > .jcf-scrollable-wrapper > .jcf-scrollbar.jcf-scrollbar-vertical{display: none !important;}
.modal-1200 .modal-body .table-holder > .jcf-scrollable-wrapper{
	height: auto !important;
	width: 100% !important;
}
.modal-1200 .modal-body .table-block > .jcf-scrollable-wrapper{
	width: 100% !important;
	min-width: 730px;
}

.modal-1200 .table{
	margin: 0;
	table-layout: fixed;
	border-collapse: separate;
}

.modal-1200 .table thead th{
	font-size: 14px;
	line-height: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background: #ac1a1a;
	border: 0;
	border-left: 1px solid #fff;
}

.modal-1200 .table thead th:first-child{border-left: 0;}

.modal-1200 .table th,
.modal-1200 .table td{
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

.modal-1200 .table th.item1,
.modal-1200 .table td.item1{width: 14%;}

.modal-1200 .table th.item2,
.modal-1200 .table td.item2{width: 13.5%;}

.modal-1200 .table th.item3,
.modal-1200 .table th.item4,
.modal-1200 .table td.item3,
.modal-1200 .table td.item4{
	width: 10%;
	word-break: normal;
	word-wrap: break-word;
}

.modal-1200 .table th.item5,
.modal-1200 .table td.item5{
	width: 39%;
	text-align: left;
	padding-left: 20px;
	padding-right: 10px;
	overflow: hidden;
}

.modal-1200 .table th.item6,
.modal-1200 .table td.item6{
	width: 12.5%;
	padding-right: 15px;
	overflow: visible;
}

.modal-1200 .table .item6 .btn{
	display: block;
	font-size: 12px;
	margin: 0 auto;
}

.modal-1200 .table .item6 .btn.btn-info,
.modal-1200 .table .item6 .btn.btn-info{
	background: #01ad0f;
	border-color: #01ad0f;
	padding: 6px 3px;
}

.modal-1200 .table .item6 .btn.btn-info:hover,
.modal-1200 .table .item6 .btn.btn-info:active,
.modal-1200 .table .item6 .btn.btn-info:focus{
	background: #01940d;
	border-color: #01940d;
}

.modal-1200 .table .dropdown-menu{
	left: auto;
	right: 0;
	width: 100%;
	min-width: 60px;
	padding: 0;
	border: 0 !important;
	border-radius: 0 !important;
	z-index: 999;
}

.modal-1200 .table .dropdown-menu > li > a{
	padding: 5px;
	margin: 0 !important;
	border-radius: 0 !important; 
	text-align: center;
}

.modal-1200 .table .dropdown-menu > li > a:hover,
.modal-1200 .table .dropdown-menu > li > a:active,
.modal-1200 .table .dropdown-menu > li > a:focus{
	color: #fff;
	background: #ffca10;
}

.modal-1200 .modal-body .table tbody tr {background: #fff;}
.modal-1200 .modal-body .table tbody tr:hover {background: #f7f7f7;}
.modal-1200 .modal-body .table tbody tr.negative td .ico {background: #e73a3a;}
.modal-1200 .modal-body .table tbody tr.success {background: #effae9;}
.modal-1200 .modal-body .table tbody tr.success:hover {background: #ecf9e5;}
.modal-1200 .modal-body .table tbody tr.defer {background: #ffffe5;}
.modal-1200 .modal-body .table tbody tr.defer:hover {background: lightyellow;}

.modal-1200 .table tbody td{
	position: relative;
	word-break: break-all;
	font-size: 12px;
	line-height: 1.2em !important;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 0;
	color: #929292;
	border-bottom: 1px solid #d9d9d9 !important;
	border-left: 1px solid #d9d9d9 !important;
	overflow: hidden;
	background: none;
}

.modal-1200 .table tbody td:first-child{border-left: 0 !important;}

.modal-1200 .table tbody td .text{overflow: hidden;}

.modal-1200 .table tbody td .ico{
	width: 10px;
	background: #01ad0f;
	position: absolute;
	margin-left: -20px;
	top: 0;
	bottom: -999px;
}

.modal-1200 .table tbody td a{color: #929292;}

.modal-1200 .table tbody td a:hover,
.modal-1200 .table tbody td a:active,
.modal-1200 .table tbody td a:focus{color: #000;}

.loading .loader {display: block;}

.loader {
  display: none;
  background: url(../assets/images/loading.gif) no-repeat;
  width: 82px;
  height: 82px;
  margin: 20px auto;
}

.modal-1000 .modal-title {margin: 0;}
.modal-1000 .modal-body {padding: 15px 30px;}
.modal-1000 .info-list li {width: 100%;}
.modal-1000 .close-btn-font {
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 18px;
  line-height: 18px;
  z-index: 999;
  cursor: pointer;
  color: #626262;
}
.modal-1000 .close-btn-font:hover {color: #7c7c7c;}
@media (min-width: 1023px) {
  .modal-1000 .close-btn-font {top: 18px;}
}
.modal-1000 h2 {
  float: none;
  margin: 0 -30px;
  line-height: 1.3em;
  border-bottom: 1px solid #e2e2e2;
  padding: 0 30px 15px;
}
.modal-1000 .btn-slider {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  line-height: 30px;
}
.modal-1000 .btn-slider.fa-angle-right {
  left: auto;
  right: 10px;
}
.modal-1000 .graph-container {
  overflow: hidden;
  min-height: 200px;
  white-space: nowrap;
  text-align: center;
}
.modal-1000 .graph-container:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: inherit;
}
.modal-1000 .graph-container > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}
.modal-1000 .graph-container .holder {
  width: 100%;
  max-width: 100%;
}
.modal-1000 .graph-holder {overflow: hidden;}
#wrapper .navbar-top-links li a{padding: 20px 5px;}
.wrapper-content{padding-bottom: 20px !important;}

/* custom select styles */
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	width: auto;
	font-size: 16px;
	line-height: 19px;
	color: #676767;
	overflow: hidden;
	padding: 13px 40px 13px 20px;
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	margin: 0 10px 0 0;
}
.jcf-select.jcf-drop-active .jcf-select-opener:after {content: '\f106';}
.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: #fff;
	bottom: 0;
	right: 0;
	top: 0;
	width: 30px;
}
.jcf-select .jcf-select-opener:after {
	font: 20px FontAwesome;
	position: absolute;
	left: 5px;
	top: 50%;
	content: '\f107';
	margin-top: -11px;
	height: 11px;
	cursor: default;
}
body > .jcf-select-drop {
	position: absolute;
	z-index: 9999;
	min-width: 100px;
}
body > .jcf-select-drop.jcf-drop-flipped {margin: 1px 0 0;}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}
.jcf-select-drop.jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-select-drop .jcf-select-drop-content {
	position: relative;
	margin-top: 1px;
	border: 1px solid #d9d9d9;
}
/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 99;
	background: #fff;
	line-height: 18px;
	font-size: 14px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {overflow: auto;}
.jcf-list .jcf-option {
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 8px 10px;
	color: #626262;
	height: 1%;
	line-height: 20px;
	font-size: 16px;
}
.jcf-list .jcf-option.jcf-selected {display: none;}
.jcf-select-barcode .jcf-list .jcf-option.jcf-selected {display: block;}
.jcf-select-barcode .jcf-list .jcf-option.jcf-option-hideme{display: none;}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #676767;
	color: #fff;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {padding-left: 30px;}
/* common custom form elements styles */
.jcf-disabled {background: #fff !important;}
.jcf-focus, .jcf-focus * {border-color: #f00 !important;}


.timeline-section .ibox-tools .btn-back {
	float: right;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	margin: 0 10px 0 5px;
	color: #454545;
}
.timeline-section .ibox-tools .btn-back:hover {color: #5f5f5f;}
.timeline-section .select-holder{
	float: right;
	position: relative;
	z-index: 99;
	margin: -14px 0 -8px 0;
	border-left: 1px solid #e7eaec;
}
.timeline-section .tab-links{float: right;}

.legends-list {
	text-align: right;
	overflow: hidden;
	margin: 0 0 15px;
	letter-spacing: -6px;
	font-size: 12px;
	line-height: 14px;
	color: #454545;
	padding: 0;
	list-style: none;
}
.legends-list li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	padding: 0 0 6px 10px;
	margin-left: 10px;
	position: relative;
}
.legends-list li .bullet {
	position: absolute;
	left: 0;
	top: 50%;
	width: 6px;
	height: 6px;
	overflow: hidden;
	margin-top: -6px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}
.legends-list li a {color: #454545;}
.legends-list li a:hover,
.legends-list li a:active,
.legends-list li a:focus {color: #5f5f5f;}

.legends-holder{
	overflow: hidden;
	padding: 10px 10px 0;
	background: #fff;
}

.legends-holder .legends-list li{
	margin-left: 0;
	margin-right: 10px;
}

.rating .legends-list{text-align: left;}

.same-height-parent .ibox-content,
.same-height-parent .ibox.detail-block .ibox-content{padding: 10px;}

.progress-area {
  clear: both;
  overflow: hidden;
}
.progress-area small {
  display: block;
  color: #282828;
  font-size: 100%;
  margin: 0 0 2px;
  text-transform: capitalize;
}
.progress-area small em {
  display: block;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.1em;
}
.progress-area .progress {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-area .progress-section .progress-bar {
  position: relative;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress-area .progress-section .progress-bar span {
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  left: 100%;
  top: 100%;
  width: 32px;
  display: block;
  border-right: 1px solid #fff;
  margin: 1px 0 0 -32px;
  padding: 0 3px 0 0;
  color: #929292;
  text-align: right;
}
.progress-area .progress-section .progress-bar.progress-bar-yellow span {border-right-color: #ffc300;}
.progress-area .progress-section .progress-bar.progress-bar-lilac span {border-right-color: #8e44ad;}
.progress-area .progress-section .progress-bar.progress-bar-blue span {border-right-color: #3498db;}
.progress-area .progress-bar {
	border-radius: 0;
	-webkit-border-radius: 0;
	height: 6px;
	background: #622a79;
}
.progress-area .progress-bar.progress-bar-yellow {
	color: #ffc300;
	background: #ffc300;
}
.progress-area .progress-bar.progress-bar-lilac {
	background: #8e44ad;
	color: #8e44ad;
}
.progress-area .progress-bar.progress-bar-blue {
	background: #3498db;
	color: #3498db;
}
.progress-area .progress {
	overflow: visible;
	margin: 0;
	height: 6px;
	box-shadow: none;
	color: inherit;
	background: #e6e6e6;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.progress-area .progress-holder {padding: 0 0 23px;}
.progress-area .progress-holder .progress {
	position: relative;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.progress-area .progress-holder .progress-bar {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.progress-area .progress-holder .progress-bar span,
.progress-area .progress-holder .progress-bar b {
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	top: 100%;
	font-weight: normal;
	left: 0;
	text-align: right;
	text-align: left;
}
.progress-area .progress-holder.yellow {color: #ffc300;}
.progress-area .progress-holder.yellow .progress-bar {
	color: #ffc300;
	background: #ffc300;
}
.progress-area .progress-holder.lilac {color: #8e44ad;}
.progress-area .progress-holder.lilac .progress-bar {
	background: #8e44ad;
	color: #8e44ad;
}
.progress-area .progress-holder.blue {color: #3498db;}
.progress-area .progress-holder.blue .progress-bar {
	background: #3498db;
	color: #3498db;
}
.progress-area .progress-holder .progress-block {position: relative;}

.progress-container.Quality .progress-holder .progress-bar {background: #431051;}
.progress-container.Quality .progress-holder .progress-bar b, .progress-container.Quality .progress-holder .progress-bar span {color: #431051;}
.progress-container.Quality .progress-holder:nth-child(2) .progress-bar {background: #4f1b5e;}
.progress-container.Quality .progress-holder:nth-child(2) .progress-bar b, .progress-container.Quality .progress-holder:nth-child(2) .progress-bar span {color: #4f1b5e;}
.progress-container.Quality .progress-holder:nth-child(3) .progress-bar {background: #602e76;}
.progress-container.Quality .progress-holder:nth-child(3) .progress-bar b, .progress-container.Quality .progress-holder:nth-child(3) .progress-bar span {color: #602e76;}
.progress-container.Quality .progress-holder:nth-child(4) .progress-bar {background: #7a4191;}
.progress-container.Quality .progress-holder:nth-child(4) .progress-bar b, .progress-container.Quality .progress-holder:nth-child(4) .progress-bar span {color: #7a4191;}
.progress-container.Quality .progress-holder:nth-child(5) .progress-bar {background: #9352ac;}
.progress-container.Quality .progress-holder:nth-child(5) .progress-bar b, .progress-container.Quality .progress-holder:nth-child(5) .progress-bar span {color: #9352ac;}
.progress-container.Quality .progress-holder:nth-child(6) .progress-bar {background: #a95dc3;}
.progress-container.Quality .progress-holder:nth-child(6) .progress-bar b, .progress-container.Quality .progress-holder:nth-child(6) .progress-bar span {color: #a95dc3;}
.progress-container.Quality .progress-section .progress-bar {background: #431051;}
.progress-container.Quality .progress-section .progress-bar span {border-right-color: #431051;}
.progress-container.Quality .progress-section .progress-bar:nth-child(2) {background: #4f1b5e;}
.progress-container.Quality .progress-section .progress-bar:nth-child(2) span {border-right-color: #4f1b5e;}
.progress-container.Quality .progress-section .progress-bar:nth-child(3) {background: #602e76;}
.progress-container.Quality .progress-section .progress-bar:nth-child(3) span {border-right-color: #602e76;}
.progress-container.Quality .progress-section .progress-bar:nth-child(4) {background: #7a4191;}
.progress-container.Quality .progress-section .progress-bar:nth-child(4) span {border-right-color: #7a4191;}
.progress-container.Quality .progress-section .progress-bar:nth-child(5) {background: #9352ac;}
.progress-container.Quality .progress-section .progress-bar:nth-child(5) span {border-right-color: #9352ac;}
.progress-container.Quality .progress-section .progress-bar:nth-child(6) {background: #a95dc3;}
.progress-container.Quality .progress-section .progress-bar:nth-child(6) span {border-right-color: #a95dc3;}
.progress-container.Quality .list.add li:before {background: #431051;}
.progress-container.Quality .list.add li:nth-child(2):before {background: #4f1b5e;}
.progress-container.Quality .list.add li:nth-child(3):before {background: #602e76;}
.progress-container.Quality .list.add li:nth-child(4):before {background: #7a4191;}
.progress-container.Quality .list.add li:nth-child(5):before {background: #9352ac;}
.progress-container.Quality .list.add li:nth-child(6):before {background: #a95dc3;}
.progress-container.Service .progress-holder .progress-bar {background: #fd8e15;}
.progress-container.Service .progress-holder .progress-bar b, .progress-container.Service .progress-holder .progress-bar span {color: #fd8e15;}
.progress-container.Service .progress-holder:nth-child(2) .progress-bar {background: #fc9918;}
.progress-container.Service .progress-holder:nth-child(2) .progress-bar b, .progress-container.Service .progress-holder:nth-child(2) .progress-bar span {color: #fc9918;}
.progress-container.Service .progress-holder:nth-child(3) .progress-bar {background: #fca91f;}
.progress-container.Service .progress-holder:nth-child(3) .progress-bar b, .progress-container.Service .progress-holder:nth-child(3) .progress-bar span {color: #fca91f;}
.progress-container.Service .progress-holder:nth-child(4) .progress-bar {background: #fbbc26;}
.progress-container.Service .progress-holder:nth-child(4) .progress-bar b, .progress-container.Service .progress-holder:nth-child(4) .progress-bar span {color: #fbbc26;}
.progress-container.Service .progress-holder:nth-child(5) .progress-bar {background: #f9cf2d;}
.progress-container.Service .progress-holder:nth-child(5) .progress-bar b, .progress-container.Service .progress-holder:nth-child(5) .progress-bar span {color: #f9cf2d;}
.progress-container.Service .progress-holder:nth-child(6) .progress-bar {background: #f8e035;}
.progress-container.Service .progress-holder:nth-child(6) .progress-bar b, .progress-container.Service .progress-holder:nth-child(6) .progress-bar span {color: #f8e035;}
.progress-container.Service .progress-section .progress-bar {background: #fd8e15;}
.progress-container.Service .progress-section .progress-bar span {border-right-color: #fd8e15;}
.progress-container.Service .progress-section .progress-bar:nth-child(2) {background: #fc9918;}
.progress-container.Service .progress-section .progress-bar:nth-child(2) span {border-right-color: #fc9918;}
.progress-container.Service .progress-section .progress-bar:nth-child(3) {background: #fca91f;}
.progress-container.Service .progress-section .progress-bar:nth-child(3) span {border-right-color: #fca91f;}
.progress-container.Service .progress-section .progress-bar:nth-child(4) {background: #fbbc26;}
.progress-container.Service .progress-section .progress-bar:nth-child(4) span {border-right-color: #fbbc26;}
.progress-container.Service .progress-section .progress-bar:nth-child(5) {background: #f9cf2d;}
.progress-container.Service .progress-section .progress-bar:nth-child(5) span {border-right-color: #f9cf2d;}
.progress-container.Service .progress-section .progress-bar:nth-child(6) {background: #f8e035;}
.progress-container.Service .progress-section .progress-bar:nth-child(6) span {border-right-color: #f8e035;}
.progress-container.Service .list.add li:before {background: #fd8e15;}
.progress-container.Service .list.add li:nth-child(2):before {background: #fc9918;}
.progress-container.Service .list.add li:nth-child(3):before {background: #fca91f;}
.progress-container.Service .list.add li:nth-child(4):before {background: #fbbc26;}
.progress-container.Service .list.add li:nth-child(5):before {background: #f9cf2d;}
.progress-container.Service .list.add li:nth-child(6):before {background: #f8e035;}
.progress-container.Cleanliness .progress-holder .progress-bar {background: #064c7c;}
.progress-container.Cleanliness .progress-holder .progress-bar b, .progress-container.Cleanliness .progress-holder .progress-bar span {color: #064c7c;}
.progress-container.Cleanliness .progress-holder:nth-child(2) .progress-bar {background: #085389;}
.progress-container.Cleanliness .progress-holder:nth-child(2) .progress-bar b, .progress-container.Cleanliness .progress-holder:nth-child(2) .progress-bar span {color: #085389;}
.progress-container.Cleanliness .progress-holder:nth-child(3) .progress-bar {background: #0c5e9d;}
.progress-container.Cleanliness .progress-holder:nth-child(3) .progress-bar b, .progress-container.Cleanliness .progress-holder:nth-child(3) .progress-bar span {color: #0c5e9d;}
.progress-container.Cleanliness .progress-holder:nth-child(4) .progress-bar {background: #0f6db4;}
.progress-container.Cleanliness .progress-holder:nth-child(4) .progress-bar b, .progress-container.Cleanliness .progress-holder:nth-child(4) .progress-bar span {color: #0f6db4;}
.progress-container.Cleanliness .progress-holder:nth-child(5) .progress-bar {background: #137ecc;}
.progress-container.Cleanliness .progress-holder:nth-child(5) .progress-bar b, .progress-container.Cleanliness .progress-holder:nth-child(5) .progress-bar span {color: #0f6db4;}
.progress-container.Cleanliness .progress-holder:nth-child(6) .progress-bar {background: #168ce0;}
.progress-container.Cleanliness .progress-holder:nth-child(6) .progress-bar b, .progress-container.Cleanliness .progress-holder:nth-child(6) .progress-bar span {color: #168ce0;}
.progress-container.Cleanliness .progress-section .progress-bar {background: #064c7c;}
.progress-container.Cleanliness .progress-section .progress-bar span {border-right-color: #064c7c;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(2) {background: #085389;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(2) span {border-right-color: #085389;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(3) {background: #0c5e9d;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(3) span {border-right-color: #0c5e9d;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(4) {background: #0f6db4;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(4) span {border-right-color: #0f6db4;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(5) {background: #137ecc;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(5) span {border-right-color: #137ecc;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(6) {background: #168ce0;}
.progress-container.Cleanliness .progress-section .progress-bar:nth-child(6) span {border-right-color: #168ce0;}
.progress-container.Cleanliness .list.add li:before {background: #064c7c;}
.progress-container.Cleanliness .list.add li:nth-child(2):before {background: #085389;}
.progress-container.Cleanliness .list.add li:nth-child(3):before {background: #0c5e9d;}
.progress-container.Cleanliness .list.add li:nth-child(4):before {background: #0f6db4;}
.progress-container.Cleanliness .list.add li:nth-child(5):before {background: #137ecc;}
.progress-container.Cleanliness .list.add li:nth-child(6):before {background: #168ce0;}

.footable tbody tr{cursor: pointer;}
.footable .fa.fa-pencil-square-o,
.footable .fa.fa-trash-o{
	color: #f00;
	font-size: 15px;
	line-height: 15px;
	margin: 0 2px;
	display: inline-block;
	vertical-align: middle;
}

.footable .fa.fa-trash-o:hover{color: #B10000;}

.footable .fa.fa-pencil-square-o{color: #1ab394;}
.footable .fa.fa-pencil-square-o:hover{color: #30BA8F;}

.ibox-title h5{margin: 3px 0 0;}

.info-form .modal-header .close{margin-top: -10px;}

.info-form .form-error-message{
	clear: both;
	margin: 2px 0 0;
}

.info-form:after,
.info-form .form-group:after{
	display: block;
	content: "";
	clear: both;
}

.info-form .form-group label{margin-top: 10px;}

.info-form .jcf-select{
	float: left;
	width: 100%;
	border: 1px solid #e5e6e7;
	height: 34px;
	font-size: 14px;
	line-height: 20px;
	color: #676a6c;
	padding: 6px 30px 6px 12px;
}

.info-form .jcf-select.jcf-focus{border-color: #1ab394 !important;}

.jcf-select-barcode .jcf-select-drop-content{margin-top: 0;}

@media screen and (min-width: 768px) {
	.legends-holder{padding: 15px 20px 0;}
	.legends-list {
		font-size: 13px;
		line-height: 16px;
	}
	.modal-1200 .table tbody td{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.modal-1200 .table thead th{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.modal-1200 .modal-body .table-block{min-height: 300px !important;}
	.modal-1200 .modal-body .table-container{
		min-height: 300px !important;
		height: 300px;
	}
	#wrapper .navbar-top-links li a{padding: 20px 10px;}
	.info-holder .table-container{max-height: 526px;}
}

@media screen and (min-width: 992px) {
	.modal-1200 .table thead th span.no{display: none;}
	.modal-1200 .table tbody td{
		font-size: 13px;
		line-height: 1.3em !important;
	}
	.modal-1200 .table .item6 .btn{font-size: 13px;}
	.modal-1200 .table .item6 .btn.btn-info{padding: 6px 4px;}
	
	.same-height-block .inner-row > .col-sm-6{height: 50%;}
	.same-height-block .inner-row > .col-xs-12{height: 100%;}
	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 13px;}
	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{
		padding-top: 12px;
		padding-bottom: 0;
	}
	.same-height-block .inner-row .ibox{margin-bottom: 0;}
	.oppotunities .ibox,
	.same-height-block .inner-row .col-xs-12 .ibox{
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
		background: #fff;
		/*overflow: hidden;*/
	}
	.same-height-block .inner-row .col-xs-12 .ibox .content-holder,
	.same-height-block .inner-row .col-sm-6 .ibox .content-holder{
		vertical-align: middle;
		border-top: 1px solid #e7eaec;
		border-bottom: 1px solid #e7eaec;
	}
	.same-height-block .inner-row .col-xs-12 .ibox .ibox-content,
	.same-height-block .inner-row .col-sm-6 .ibox .content-holder{border: 0;}
	.detail-block{
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
		background: #fff;
	}
	.same-height-block > .ibox.float-e-margins{margin-bottom: 0;}
	.same-height-block.add{background: #fff;}
	.same-height-block{margin-bottom: 25px;}
	.float-e-margin-none{margin-bottom: 0;}
	.same-height-block > .ibox.float-e-margins{
		height: 100%;
		width: 100%;
		display: table;
		table-layout: fixed;
	}
	.title-outer{
		display: table-header-group;
		height: 1%;
		width: 100%;
	}
	.content-holder{
		display: table-cell;
		vertical-align: top;
		width: 100%;
		background: #fff;
	}
	.oppotunities .content-holder,
	.rating .content-holder{
		vertical-align: top !important;
		border-top: 1px solid #e7eaec;
	}
	.content-inner,
	.content-holder .ibox-content.add{
		display: table;
		width: 100%;
		height: 100%;
		table-layout: fixed;
	}
	.oppotunities .ibox-content,
	.rating .ibox-content{border-top: 0 !important;}
	.content-inner .legends-outer{
		display: table-header-group;
		height: 1%;
		width: 100%;
	}
	.content-inner .content-block{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.content-holder .ibox-content.add .chart-outer{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	.content-holder .ibox-content.add .list-holder{
		display: table-footer-group;
		height: 1%;
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.blocks-holder > .row{height: 40%;}
	.blocks-holder > .row:first-child{height: 60%;}
	
	.blocks-holder > .row > div,
	.blocks-holder > .row > div > *,
	.blocks-holder > .row > div > * >div{height: 100%;}
	
	.blocks-holder .business-segment{padding-bottom: 25px;}
	.blocks-holder .row .ibox{
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
		background: #fff;
		margin-bottom: 0;
	}
	
	.legends-list li {
		padding: 0 0 6px 12px;
		margin-left: 10px;
	}
	.legends-list li .bullet {
		width: 8px;
		height: 8px;
		margin-top: -7px;
	}
	.modal-1200 .table .item6 .btn{font-size: 14px;}
	.modal-1200 .table .item6 .btn.btn-info{padding: 8px;}
	.modal-1200 .table tbody td{
		font-size: 14px;
		line-height: 1.4em !important;
	}
	.modal-1200 .modal-body .table-block{min-height: 300px !important;}
	.modal-1200 .table th,
	.modal-1200 .table td{
		padding-left: 8px;
		padding-right: 8px;
	}
	.modal-1200 .table th.item6,
	.modal-1200 .table td.item6{padding-right: 19px;}
	.modal-1200{width: 1170px;}
	.modal-1200 .table thead th{
		font-size: 16px;
		line-height: 1.4em;
	}
	.modal-1200 .modal-header{padding: 25px;}
	
	.modal-1200 .modal-body .table-container{
		min-height: 400px !important;
		height: 400px;
	}
}

@media screen and (max-width: 1900px) {
	.ibox.detail-block .ibox-content{padding: 15px 10px 20px;}
	.ibox.detail-block .ibox-title{padding: 14px 8px 7px;}
	.breadcrum{padding: 5px 8px;}
	.ibox-content h1{font-size: 26px;}
	.detail-block h1{font-size: 25px;}
	.tab-links li a{padding: 13px;}
	.calender-outer{min-width: 50px;}
}

@media screen and (max-width: 1450px) {
	.same-height-block.add{height: auto !important;}
	.same-height-parent .col-lg-6{
		left: 0;
		top: 0;
		width: 100% !important;
		clear: both;
	}
	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 25px;}
	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{
		padding-top: 0;
		padding-bottom: 25px;
	}
	.same-height-block{margin-bottom: 0;}
	.same-height-block.add{margin-bottom: 25px;}
	.morris-block-holder .morris-graph-holder .morris-holder{height: 120px;}
	.blocks-holder{height: auto !important;}
}

@media only screen and (min-width:1200px) and (max-width: 1450px)  {
	.oppotunities{padding-bottom: 25px;}
	.blocks-holder{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		width: 100%;
	}
	.blocks-holder > .row{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		height: inherit !important;
		width: 33.3333% !important;
	}
	.blocks-holder > .row:first-child{
		width: 66.6667% !important;
		height: inherit !important;
	}
	
	.blocks-holder > .row > .col-xs-12{
		display: table;
		float: none;
		height: 100%;
		padding-bottom: 25px;
		table-layout: fixed;
		margin: 0;
		border: 0;
	}
	.blocks-holder > .row > .col-xs-12 > *{
		height: 100%;
		display: table-cell;
		vertical-align: top;
	}
	
	.blocks-holder > .row > .oppotunities,
	.blocks-holder > .row > .oppotunities > *{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		
		height: inherit !important;
		
	}
	
	.blocks-holder .row .oppotunities .ibox{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;

		height: inherit !important;
	}
	
	.blocks-holder .row .oppotunities .title-outer{
		display: block;
		height: inherit;
	}
	
	.oppotunities .content-holder{
		flex: 1 1 auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
	}
	
	.blocks-holder > .row > .business-segment{padding-left: 0;}
	.blocks-holder > .row > .oppotunities{padding-right: 0;}
}

@media screen and (max-width: 1199px) {
	.modal-1200{width: 970px;}
	.ibox.detail-block .ibox-content,
	.ibox-content{padding: 15px 10px 20px;}
	.morris-content-outer .morris-content-holder{width: 25%;}
	.ibox-content h1{font-size: 26px;}
	.comments-drop .heading-holder .holder{padding: 10px 15px;}
	.comments-list li{
		border-width: 0 0 1px 5px;
		padding: 10px;
	}
	.comments-drop .icon-holder i{
		font-size: 70px;
		line-height: 70px;
	}
	.comments-drop h2{font-size: 22px;}
	.rating .title-outer{border-bottom: 1px solid #e7eaec;}
	.rating .ibox-content{border-top: 0 !important;}
	.row.inner-row.add .ibox{background: #fff;}
	.row.inner-row.add .title-outer{border-bottom: 1px solid #e7eaec;}
	.row.inner-row.add .content-holder{padding: 10px;}
	.row.inner-row.add .detail-block .content-holder{padding: 0;}
	#piechart{padding: 5px;}
}

@media screen and (max-width: 991px) {
	.same-height-block,
	.inner-row,
	.same-height-col,
	.same-height{height: auto !important;}
	.same-height-block{margin-bottom: 0;}
	.same-height-block.add,
	.float-e-margin-none{margin-bottom: 25px;}
	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 0;}
	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{padding-bottom: 0;}
	.modal-1200 .table thead th span{display: none;}
	.modal-1200 .table thead th span.no{
		display: inline-block;
		vertical-align: top;
	}
	.modal-1200{width: 745px;}
	.morris-content-outer .morris-content-holder{
		width: 33.33%;
		padding: 0 5px;
	}
	.tab-links{
		border-top: 1px solid #e7eaec;
		clear: both;
		text-align: center;
		margin: 0 -15px -8px -16px;
	}
	.ibox-tools{
		clear: both;
		width: 100%;
		padding-top: 5px;
	}
	.tab-links li{width: 25%;}
	.tab-links li a{padding: 10px 3px;}
	.tab-links .calender-outer{
		width: 100%;
		min-width: inherit;
		height: 41px;
	}
	.business-segment .tab-links li{width: 27%;}
	.business-segment .tab-links li.item2,
	.business-segment .tab-links li.item3{width: 22.5%;}
	.business-segment .tab-links li:first-child,
	.business-segment .tab-links li:last-child{width: 14%;}
	.patch-section .tab-links li{width: 25%;}
	.patch-section .tab-links li:last-child{width: 20%;}
	.patch-section .tab-links li:first-child{width: 30%;}
	.timeline-section .ibox-tools,
	.map-section .ibox-tools,
	.rating .ibox-tools{
		clear: none;
		width: inherit;
		padding-top: 0;
		float: right;
	}
	.timeline-section .tab-links,
	.map-section .tab-links,
	.rating .tab-links{
		border-top: 0;
		padding-left: 0;
		clear: none;
		margin-top: -15px;
		text-align: right;
	}
	.timeline-section .tab-links li,
	.map-section .tab-links li,
	.rating .tab-links li{
		width: inherit;
		min-width: 50px;
	}
	.timeline-section .tab-links li .calender-outer,
	.map-section .tab-links li .calender-outer,
	.rating .tab-links li .calender-outer{height: 48px;}
}

@media screen and (max-width: 767px) {
	.modal-1200 .table thead,
	.modal-1200 .table{
		min-width: 730px;
		width: auto !important;
		max-width: inherit !important;
	}
	.modal-1200{width: auto;}
	.morris-content-outer .morris-content-holder{width: 50%;}
	#wrapper h1{
		font-size: 23px;
		font-weight: 400;
	}
	.header-caption h1{font-weight: 400;}
	.morris-block-holder .morris-content-holder{
		width: 33.33%;
		padding: 0 5px 10px;
	}
	.nav-active .comments-drop{width: 260px;}
	.comments-list li{
		border-width: 0 0 1px 4px;
		padding: 8px;
	}
	.comments-drop .heading-holder .holder{padding: 8px 13px;}
	.comments-drop .icon-holder i{
		font-size: 50px;
		line-height: 50px;
	}
	.comments-drop h2{
		font-size: 20px;
		margin: 0 0 5px;
	}
	.comment-block{top: 133px;}
	.tab-links{font-size: 12px;}
	.tooltip{
		display: none !important;
		visibility: hidden !important;
	}
	.footer-holder .footer-text,
	.footer-holder .footer-container{
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 0 5px;
	}
	.wrapper-content{padding: 20px 0 !important;}
	.ibox-title h5{margin-bottom: 12px !important;}
	.detail-block .ibox-title h5{margin-bottom: 5px !important;}
	#wrapper .ibox-content{padding: 10px;}
	.info-form .form-group{margin-bottom: 12px;}
	.info-form .form-group label{margin: 0 0 3px;}
	.header-visual{margin: 0 -25px;}
}

@media screen and (max-width: 479px) {
	.morris-content-outer .morris-content-holder{width: 100%;}
	.timeline-section .tab-links{margin-left: 0;}
}

@media screen and (min-width: 769px) {
	#side-menu{
		opacity: 1 !important;
		display: block !important;
	}
}