body{
	background: #f1c40f;
	min-width: 320px;
}

.morris-block-holder{
	padding: 19px 0 5px;
	letter-spacing: -6px;
}

.morris-block-holder .morris-content-holder{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 20%;
	padding: 0 5px;
	text-align: center;
}

.morris-block-holder .morris-graph-holder{height: 120px;}

.morris-graph-holder{white-space: nowrap;}

.morris-graph-holder:after{
	display: inline-block;
	vertical-align: middle;
	content: '';
	min-height: 100%;
	width: 1px;
	overflow: hidden;
}

.morris-holder{
	display: inline-block;;
	vertical-align: middle;
	width: 100%;
	white-space: normal;
}

.morris-content-outer .title,
.morris-block-holder .title{
	display: block;
	font-weight: normal;
	color: #888;
}

.morris-content-outer .title a,
.morris-block-holder .title a{
	color: #888;	
}

.morris-content-outer .title a:hover,
.morris-block-holder .title a:hover{
	color: #000;	
}

.morris-content-outer{letter-spacing: -6px;}

.morris-content-outer .morris-content-holder{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 16.6667%;
	padding: 0 10px;
	text-align: center;
}

.ibox.detail-block .stat-percent.font-bold.text-navy{color: #3498db;}
.ibox.detail-block .label.label-primary{background: #3498db;}


.same-height-block .inner-row .col-sm-6 .ibox.detail-block .content-holder{vertical-align: top;}

.w1{
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}
.flot-chart{
	height: auto !important;
	text-align: center;
}

.w2{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	border-top: 1px solid #e7eaec;
}

.ibox.detail-block .ibox-content{
	padding: 14px 20px 15px;
	border-top: 0 !important;
}

.ibox.detail-block h5{
	overflow: hidden;
	float: none;
	display: block;
}

.ibox-content .graph-block{
	padding: 0 32px;
}

.ibox-content .graph-block canvas{
	width: 100% !important;
	height: auto !important;
}

.navbar.dashboard{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 15px;
	z-index: 10;
	background: rgba(255,255,255,0.8);
	border-radius: 0;
	-webkit-border-radius: 0;
}

.navbar.dashboard .navbar-minimalize{
	background: #ac1a1a;
	border-color: #ac1a1a;
}

.header-visual{
	margin: 0 -15px;
	overflow: hidden;
	position: relative;
}

.header-visual .img-holder{
	overflow: hidden;
	max-height: 152px;
}

.header-visual .inner-holder{
	width: 100%;
	min-width: 550px;
	position: relative;
	left: 50%;
}

.header-visual .img-holder img{
	width: 100%;
	min-width: 550px;
	position: relative;
	left: -50%;
}

.header-caption{
	position: absolute;
	left: 23px;
	right: 23px;
	top: 0;
	bottom: 0;
	z-index: 9;
	color: #000;
	padding: 65px 0 5px;
	white-space: nowrap;
}

.header-caption:after{
	display: inline-block;
	vertical-align: middle;
	content: "";
	overflow: hidden;
	min-height: 100%;
	width: 1px;
}

.header-caption h1{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	margin: 0;
	font-weight: 600;
}

.pace .pace-progress{background: #ac1a1a;}


.sidebar-collapse:before{
	position: absolute;
	right: -10px;
	top: 0;
	z-index: 2;
	pointer-events:none;
	bottom: -9999px;
	width: 10px;
	content: "";
	-webkit-box-shadow: -6px 0 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: -6px 0 4px 0 rgba(0, 0, 0, 0.1);
}

.logo-holder{
	width: 100%;
	height: 152px;
	background: #ac1a1a;
	white-space: nowrap;
	text-align: center;
	padding: 0 10px;
}

.logo-holder:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	min-height: 100%;
	content: "";
	width: 1px;
}

.logo-holder .logo{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: 100%;
}

#wrapper{
	overflow: hidden;
	position: relative;
}

.minimalize-styl-2{margin: 14px 5px 5px 10px;}

.same-height{
	white-space: nowrap;
}

.same-height:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	min-height: 100%;
	content: "";
	width: 1px;
}

.same-height .block-holder{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

#world-map{height: 350px;}


.comment-block{
	position: absolute;
	right: 0;
	top: 152px;
	z-index: 9999;
	bottom: 0;
	pointer-events:none;
}

.comment-block.fixed-position{
	position: fixed;
	right: 0 !important;
	top: 0 !important;
}

.comment-block > .nav-opener{
	pointer-events: auto;
	float: right;
	background: #ffc72c;
	color: #fff;
	margin-top: 0;
	padding: 10px;
	font-size: 30px;
	line-height: 30px;
	position: relative;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.comment-block > .nav-opener:hover{background: #ffbc01;}

.comment-block > .nav-opener .count{
	position: absolute;
	right: 5px;
	top: 7px;
	background: #d30000;
	width: 18px;
	height: 18px;
	font-size: 13px;
	line-height: 16px;
	padding: 0 1px 2px;
	font-weight: 700;
	text-align: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.comments-drop{
	pointer-events: auto;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	width: 300px;
	overflow: hidden;
	background: #fff;
	margin-right: -10px;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-box-shadow: -3px 0 7px rgba(0,0,0,.24);
	-moz-box-shadow: -3px 0 7px rgba(0,0,0,.24);
	box-shadow: -3px 0 7px rgba(0,0,0,.24);
}

.nav-active .comment-block > .nav-opener{
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.nav-active .comments-drop{
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	margin-right: 0;
}

.comments-drop .nav-opener{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #676767;
	font-size: 20px;
	line-height: 20px;
	z-index: 99;
}

.comments-drop .nav-opener:hover{color: #5b5a5a;}

.comments-drop .heading-holder .holder{
	overflow: hidden;
	padding: 20px 10px 10px;
	text-align: center;
}

.comments-drop .icon-holder{overflow: hidden;}

.comments-drop .icon-holder i{
	cursor: default;
	font-size: 100px;
	line-height: 100px;
	color: #f1c40f;
}

.comments-drop h2{
	margin: 0 0 10px;
	font-weight: 600;
	color: #676767;
}

.comments-drop .btn.btn-info{
	background: #f1c40f;
	border-color: #f1c40f;
	border-radius: 0;
	width: 100%;
	padding: 10px 5px;
	display: block;
}

.comments-drop .btn.btn-info:hover,
.comments-drop .btn.btn-info:active,
.comments-drop .btn.btn-info:focus{background: #f8ce27;}

.comments-list{
	overflow: hidden;
	margin: 0;
	height: 100%;
	overflow: auto;
	border-top: 1px solid #d9d9d9;
}

.comments-list li{
	border-style: solid;
	border-width: 0 0 1px 6px;
	border-color: #d9d9d9;
	background: #fff;
	overflow: hidden;
	color: #000;
	font-size: 13px;
	line-height: 16px;
	padding: 15px;
}
.comments-list li p{margin: 0;}
.comments-list li:hover{background: #f6f6f6;}
.comments-list li.positive{border-left-color: #01ad0f;}
.comments-list li.negative{border-left-color: #e41e1e;}
.comments-list li.deferred{
	background: #fce8e8;
	font-weight: 600;
}
.comments-list li.deferred:hover{background: #fbe0e0;}
.comments-list li.processed{
	background: #e5f7e7;
	font-weight: 600;
}
.comments-list li.processed:hover{background: #e2fbe5;}
.comments-list li time{
	font-size: 11px;
	line-height: 14px;
	display: block;
	color: #8b8b8b;
	font-weight: 400;
}

.detail-block h1{font-size: 30px;}

.tab-links{
	padding: 0;
	margin: -14px -15px -8px 0;
	list-style: none;
	letter-spacing: -6px;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

.tab-links li{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	text-align: center;
	border-left:1px solid #e7eaec;
	position: relative;
}

.tab-links li a{
	color: #676a6c;
	padding: 13px 20px;
	display: block;
	margin: 0;
	border-bottom: 1px solid #e7eaec;
}

.calender-outer{
	min-width: 60px;
	height: 46px;
	white-space: nowrap;
	color: #676a6c;
	text-align: center;
	cursor: pointer;
}

.calender-outer:after{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 1px;
	min-height: 100%;
	content: "";
}

.calender-outer .date-picker{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	border: 0;
	background: none;
	color: #fff;
}

.calender-outer .calendar-holder{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

.tab-links li:hover a,
.tab-links li:active a,
.tab-links li.active a,
.tab-links li:focus a{
	border-bottom-color: #fff;
	color: #000;
}

.calender-outer:hover .fa-calendar,
.calender-outer:active .fa-calendar,
.calender-outer:focus .fa-calendar{color: #000;}

body.login{background: #eee;}

#header{
	overflow: hidden;
	text-align: center;
}

#header .logo{
	display: block;
	width: 116px;
	margin: 5px auto 20px;
}

#header .logo img{
	display: block;
	width: 100%;
	height: auto;
}

#header h2{
	font: 30px/36px 'Times New Roman','Georgia','serif';
    color: #e02127;
    margin: 0 0 30px;
}

.tooltip{
	letter-spacing: 0;
	opacity: 1;
}

.tooltip.top{opacity: 1;}
.tooltip.top .tooltip-arrow{
	border-top-color: white !important;
	opacity: 1;
}

.tooltip .tooltip-inner{
	opacity: 1;
	background: white;
	color: black;
	min-width: 100px !important;
	max-width: 180px;
	padding: 10px 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0 , 0.2);
	box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.breadcrum{
	background: white;
	overflow: hidden;
	padding: 5px 15px;
	letter-spacing: -6px;
}

.breadcrum > span{
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
}

.breadcrum > span:after{
	display: inline-block;
	vertical-align: top;
	content: "/";
	margin: 0 3px;
}

#footer{
	margin: 0 -15px;
	overflow: hidden;
}

#footer .footer-inner{
	background: white;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #888;
}

#footer a{color: #888;}

#footer a:hover,
#footer a:active,
#footer a:focus{color: #000;}

#footer p{margin: 0;}

.footer-holder{
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-holder .footer-text,
.footer-holder .footer-container{
	float: left;
	width: 50%;
	padding: 0 15px;
}

.footer-holder .footer-container{text-align: right;}

@media screen and (min-width: 1200px) {
	.same-height-block .inner-row > .col-sm-6{height: 50%;}
	
	.same-height-block .inner-row > .col-xs-12{height: 100%;}

	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 13px;}

	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{
		padding-top: 12px;
		padding-bottom: 0;
	}
	.same-height-block .inner-row .ibox{margin-bottom: 0;}

	.same-height-block .inner-row .col-xs-12 .ibox{
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
		background: #fff;
		/*overflow: hidden;*/
	}

	.same-height-block .inner-row .col-xs-12 .ibox .content-holder,
	.same-height-block .inner-row .col-sm-6 .ibox .content-holder{
		vertical-align: middle;
		border-top: 1px solid #e7eaec;
		border-bottom: 1px solid #e7eaec;
	}

	.same-height-block .inner-row .col-xs-12 .ibox .ibox-content,
	.same-height-block .inner-row .col-sm-6 .ibox .content-holder{border: 0;}

	.detail-block{
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}
	
	.same-height-block > .ibox.float-e-margins{margin-bottom: 0;}
	.same-height-block.add{
		background: #fff;
		
	}
	.same-height-block{margin-bottom: 25px;}
	.float-e-margin-none{margin-bottom: 0;}
	.same-height-block > .ibox.float-e-margins{
		height: 100%;
		width: 100%;
		display: table;
		table-layout: fixed;
	}
	.title-outer{
		display: table-header-group;
		height: 1%;
		width: 100%;
	}
	.content-holder{
		display: table-cell;
		vertical-align: top;
		width: 100%;
		background: #fff;
	}
	.content-holder .ibox-content.add{
		display: table;
		width: 100%;
		height: 100%;
		table-layout: fixed;
	}
	.content-holder .ibox-content.add .chart-outer{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	.content-holder .ibox-content.add .list-holder{
		display: table-footer-group;
		height: 1%;
		width: 100%;
	}
}


@media screen and (max-width: 1900px) {
	.ibox.detail-block .ibox-content{padding: 15px 10px 20px;}
	.ibox.detail-block .ibox-title{padding: 14px 8px 7px;}
	.breadcrum{padding: 5px 8px;}
	.ibox-content h1{font-size: 26px;}
	.detail-block h1{font-size: 25px;}
	.ibox-content .graph-block{padding: 0;}

	.tab-links li a{padding: 13px;}
	.calender-outer{min-width: 50px;}
}

@media screen and (max-width: 1450px) {
	.same-height-parent .col-lg-6{
		left: 0;
		top: 0;
		width: 100% !important;
		clear: both;
	}
	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 25px;}

	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{
		padding-top: 0;
		padding-bottom: 25px;
	}
	.same-height-block{margin-bottom: 0;}
	.same-height-block.add{margin-bottom: 25px;}
}

@media screen and (max-width: 1199px) {
	.ibox.detail-block .ibox-content,
	.ibox-content{padding: 15px 10px 20px;}
	.morris-content-outer .morris-content-holder{width: 25%;}
	.ibox-content h1{font-size: 26px;}

	.same-height-block,
	.inner-row,
	.same-height-col,
	.same-height{height: auto !important;}
	.same-height-block{margin-bottom: 0;}
	.same-height-block.add,
	.float-e-margin-none{margin-bottom: 25px;}
	.same-height-block .inner-row > .col-sm-6,
	.same-height-block .inner-row > .col-xs-12{padding-bottom: 0;}
	.same-height-block .inner-row.add > .col-sm-6,
	.same-height-block .inner-row.add > .col-xs-12{padding-bottom: 0;}
	.comments-drop .heading-holder .holder{padding: 10px 15px;}
	.comments-list li{
		border-width: 0 0 1px 5px;
		padding: 10px;
	}
	.comments-drop .icon-holder i{
		font-size: 70px;
		line-height: 70px;
	}
	.comments-drop h2{font-size: 22px;}
}

@media screen and (max-width: 991px) {
	.morris-content-outer .morris-content-holder{
		width: 33.33%;
		padding: 0 5px;
	}
	.tab-links{
		border-top: 1px solid #e7eaec;
		clear: both;
		text-align: center;
		margin: 0 -15px -8px -16px;
	}
	.ibox-tools{
		clear: both;
		width: 100%;
		padding-top: 5px;
	}
	.tab-links li{width: 25%;}
	.tab-links li a{padding: 10px 3px;}
	.tab-links .calender-outer{
		width: 100%;
		min-width: inherit;
		height: 41px;
	}
	.business-segment .tab-links li{width: 27%;}
	.business-segment .tab-links li.item2,
	.business-segment .tab-links li.item3{width: 22.5%;}
	.business-segment .tab-links li:first-child,
	.business-segment .tab-links li:last-child{width: 14%;}

	.patch-section .tab-links li{width: 25%;}
	.patch-section .tab-links li:last-child{width: 20%;}
	.patch-section .tab-links li:first-child{width: 30%;}

	.timeline-section .ibox-tools,
	.map-section .ibox-tools,
	.rating .ibox-tools{
		clear: none;
		width: inherit;
		padding-top: 0;
	}
	.timeline-section .tab-links,
	.map-section .tab-links,
	.rating .tab-links{
		border-top: 0;
		padding-left: 0;
		clear: none;
		margin-top: -15px;
		text-align: right;
	}
	.timeline-section .tab-links li,
	.map-section .tab-links li,
	.rating .tab-links li{
		width: inherit;
		min-width: 50px;
	}
	.timeline-section .tab-links li .calender-outer,
	.map-section .tab-links li .calender-outer,
	.rating .tab-links li .calender-outer{height: 48px;}
}

@media screen and (max-width: 767px) {
	.morris-content-outer .morris-content-holder{width: 50%;}
	h1{
		font-size: 23px;
		font-weight: 400;
	}
	.header-caption h1{font-weight: 400;}
	.morris-block-holder .morris-content-holder{width: 33.33%;}
	#world-map{height: 250px;}
	.nav-active .comments-drop{width: 260px;}
	.comments-list li{
		border-width: 0 0 1px 4px;
		padding: 8px;
	}
	.comments-drop .heading-holder .holder{padding: 8px 13px;}
	.comments-drop .icon-holder i{
		font-size: 50px;
		line-height: 50px;
	}
	.comments-drop h2{
		font-size: 20px;
		margin: 0 0 5px;
	}
	.comment-block{top: 133px;}
	.tab-links{font-size: 12px;}
	.tooltip.top .tooltip-arrow{
		display: none;
		visibility: hidden;
	}
	.footer-holder .footer-text,
	.footer-holder .footer-container{
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 0 5px;
	}
	.wrapper-content{padding: 20px 0 40px !important;}
}


@media screen and (min-width: 769px) {
	#side-menu{
		opacity: 1 !important;
		display: block !important;
	}
}