<div class="modal-header">
  <a ng-click = "cancel()" class="pull-right close-btn-font"><i class="glyphicon glyphicon-remove"></i></a>
  <h2>Positive Negative Feedback</h2>
</div>
<div class="modal-body">
  <div class="table-holder">
  	<div class="table-block jcf-scrollable" custom-form>
  		<table class="table">
		<thead>
		  <tr>
			<th class="item1">Name</th>
			<th class="item2">Phone Number</th>
			<th class="item3">Branch</th>
			<th class="item4">Segment</th>
			<th class="item5">Comments</th>
			<th class="item6">Status</th>
		  </tr>
		</thead>
	  </table>
		<div class="table-container jcf-scrollable" data-comments = "comments" ng-class = "{loading: lock}" when-scrolled="getMoreComments()" custom-form>
		<table class="table">
		  <tbody>
			<tr ng-repeat = "comment in comments" ng-class = "{negative: comment.is_negative, success: comment.action_taken}">
			  <td class="item1">{{comment.name}}</td>
			  <td class="item2">
				<a href="tel:{{comment.phone_no}}" class="tel">{{comment.user_phone}}</a>
			  </td>
			  <td class="item3">{{comment.branch}}</td>
			  <td class="item4">{{comment.segment}}</td>
			  <td class="item5">
				<span class="ico"></span>
				<div class="text">
					{{comment.comment}}
				</div>
			  </td>
			  <td class="item6">
				<div class="btn-group" uib-dropdown ng-show = "comment.action_taken">
				  <button id="split-button" type="button" class="btn btn-info" ng-click="selectedValue('Process',comment)">Process</button>
				  <button type="button" class="btn btn-info" uib-dropdown-toggle>
					<span class="caret"></span>
					<span class="sr-only">Split button!</span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
					<li role="menuitem">
						<a style = "cursor:pointer;" ng-click="selectedValue('Defer',comment)">Defer</a>
					</li>
				  </ul>
				</div>
				<span ng-hide = "comment.action_taken">{{comment.action_string}}</span>
			   </td>
			</tr>
		  </tbody>
		</table>
		<span class="loader"></span>
	  </div>
  	</div>
  </div>
</div>
