<div class="modal-header">
  <a ng-click = "cancel()" class="pull-right close-btn-font"><i class="fa fa-times"></i></a>
  <h2>Positive Negative Feedback</h2>
</div>
<div class="modal-body">
  <div class="table-holder">
  	<div class="table-block jcf-scrollable" custom-form>
  		<table class="table">
			<thead>
			  <tr>
				<th class="item1">Name</th>
				<th class="item2">Phone <span>Number</span><span class="no">No</span>/ Email</th>
				<th class="item3">Branch</th>
				<th class="item4">Segment</th>
				<th class="item5">Comments</th>
				<th class="item6">Status</th>
			  </tr>
			</thead>
	  	</table>
		<div class="table-container jcf-scrollable" data-comments = "comments" ng-class = "{loading: lock}" when-scrolled="getMoreComments()" custom-form>
			<table class="table">
			  <tbody>
				<tr ng-repeat = "comment in comments" ng-class = "{negative: comment.data.is_negative, success: comment.data.action_taken === 2, defer: comment.data.action_taken === 3}">

				  <td class="item1">{{comment.data.user_name}}</td>
				  <td class="item2">
					<a href="tel:{{comment.phone_no}}" class="tel">{{comment.phone_no}}</a><br>
					<a>{{comment.email}}</a>
				  </td>
				  <td class="item3">{{comment.data.branch}}</td>
				  <td class="item4">{{comment.data.segment}}</td>
				  <td class="item5">
					<span class="ico"></span>
					<div class="text">
						{{comment.data.comment}}
					</div>
				  </td>
				  <td class="item6">
					<div class="btn-group" uib-dropdown dropdown-append-to-body ng-show = "comment.show_dropdown">
					  <button type="button" class="btn btn-info" ng-click="selectedValue('Process',comment)">Process</button>
					  <button id="btn-append-to-body" type="button" class="btn btn-info" uib-dropdown-toggle>
						<span class="caret"></span>
						<span class="sr-only">Split button!</span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
						<li role="menuitem">
							<a style = "cursor:pointer;" ng-click="selectedValue('Defer',comment)">Defer</a>
						</li>
					  </ul>
					</div>
					<span ng-hide = "comment.show_dropdown">{{comment.action_string}}</span>
				   </td>
				</tr>
			  </tbody>
			</table>
			<span class="loader"></span>
	  </div>
  	</div>
  </div>
</div>
