<!-- <div class="section-holder" >
  <div class="info-area" ng-class="{loading: show_loading}">
    <div class="heading-holder">

    	<h2 ng-show = "area_view">{{title}}
          <span class="icon-help" uib-popover="Representation of regional/city/branch breakdown for [1] Amount of complaint resolutions; [2] Overall Ratings; [3] QSC Complaints" popover-trigger="mouseenter" popover-placement="top"></span>
        </h2>
        <h2 ng-show = "area_view == false && regional_view == true">{{selected_area.name}}'s Region Analysis</h2>
		<h2 ng-show = "regional_view == false && city_view == true">{{selected_region.name}}'s City Analysis</h2>
		<h2 ng-show = "area_view == false && regional_view == false && city_view == false">{{selected_city.name}}'s Branch Analysis</h2>
    	<div class="btn-group pull-right">
		  	  <ul>
		  	  	<li><label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Complaints'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Complaint Resolution Analysis">Complaints</label></li>
		  	  	<li> <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Rating'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Overall Feedback Analysis">Rating</label></li>
		  	  	<li><label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'QSC'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Overall QSC Analysis">QSC</label></li>

		  	  	<li>
		  	  		<div class="calender-outer">
					<span class = "calendar-holder" uib-tooltip="Click to Select Custom Date Range">
					  <input date-range-picker id="daterange-map" name="daterange-map" class="date-picker" type="text" ng-model="date" max="today" options = "datePickerOption" readonly="true"/>
					  <i class="glyphicon glyphicon-calendar" map-range-click></i>
					</span>
				  </div>
		  	  	</li>
		  	  </ul>
		</div>
    </div>
    <div class="holder">
     <div class = "breadcrum">
        <span ng-hide = "area_view">
         <a ng-click = "backToAreas()" style = "cursor:pointer">Area/</a>
       </span>
       <span ng-show = "area_view == false && regional_view == false">
         <a ng-click = "backToRegions(selected_area)" style = "cursor:pointer">{{selected_area.name}}/</a>
       </span>
       <span ng-show = "area_view == false && regional_view == false && city_view == false">
         <a ng-click = "backToCities(selected_region)" style = "cursor:pointer;">{{selected_region.name}}/</a>
       </span>
     </div>

    <div class="list-container">
    	<div class="inner-holder">
    		<div class="list-inner">

             <ul class="info-list" ng-show = "area_view == true">
              <li ng-repeat = "area in donut_graph_data.objects track by $index">
                <div class="graph-holder regional-analysis" same-region-height data-data="donut_graph_data.donutData[$index]">
                  <div class="graph-inner">
                     <div ng-show="area.show_chart" morris-chart data-data="donut_graph_data.donutData[$index]" data-type="donut" data-options="donut_graph_data.donutOptions[$index]" data-action="open(option,area,region,city,branch)"></div>
                  </div>
                    <div ng-hide="area.show_chart">No data available</div>
                </div>
                <h3>
                  <a ng-click = "showChart(area, 'regions')" style = "cursor:pointer;">{{area.name}}</a>
                </h3>
              </li>
            </ul>

            <div ng-show="show_string && area_view == true">No area available</div>

    		<ul class="info-list" ng-show = "area_view == false && regional_view == true">
              <li ng-repeat = "region in donut_regions_data.objects track by $index">
                <div class="graph-holder regional-analysis" same-region-height data-data="donut_regions_data.donutData[$index]">
                  <div class="graph-inner">
                     <div ng-show="region.show_chart" morris-chart data-data="donut_regions_data.donutData[$index]" data-type="donut" data-options="donut_regions_data.donutOptions[$index]" data-action="open(option,selected_area,region,city,branch)"></div>
                  </div>
                  <div ng-hide="region.show_chart">No data available</div>
                </div>
                <h3>
                  <a ng-click = "showChart(region, 'cities')" style = "cursor:pointer;">{{region.name}}</a>
                </h3>
              </li>
            </ul>

            <div ng-show="show_string && area_view == false && regional_view == true">No region available</div>

            <ul class="info-list" ng-show = "area_view == false && regional_view == false && city_view == true">
              <li ng-repeat = "city in donut_cities_data.objects track by $index">
                <div class="graph-holder" same-city-height data-data = "donut_cities_data.donutData[$index]">
                  <div class="graph-inner">
                  	 <div ng-show="city.show_chart" morris-chart data-data="donut_cities_data.donutData[$index]" data-type="donut" data-options="donut_cities_data.donutOptions[$index]" data-action="open(option,selected_area,selected_region,city,branch)"></div>
                  </div>
                  <div ng-hide="city.show_chart">No data available</div>
                </div>
                <h3>
                  <a ng-click = "showChart(city, 'branches')" style = "cursor:pointer;">{{city.name}}</a>
                </h3>
              </li>
            </ul>

            <div ng-show="show_string && area_view == false && regional_view == false && city_view == true">No city available</div>

            <ul class="info-list" ng-show = "area_view == false && regional_view == false && city_view == false">
              <li ng-repeat = "branch in donut_branches_data.objects track by $index">
                <div class="graph-holder" same-branch-height  data-data = "donut_branches_data.donutData[$index]">
                 <div class="graph-inner">
                 	 <div ng-show="branch.show_chart" morris-chart data-data="donut_branches_data.donutData[$index]" data-type="donut" data-options="donut_branches_data.donutOptions[$index]" data-action="open(option,selected_area,selected_region,selected_city,branch)"></div>
                 </div>
                  <div ng-hide="branch.show_chart">No data available</div>
                </div>
                <h3>{{branch.name}}</h3>
              </li>
             </ul>

             <div ng-show="show_string && area_view == false && regional_view == false && city_view == false">No branch available</div>
    		</div>
    	</div>
    </div>
    </div>
  </div>
</div> -->



 <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 ng-show = "area_view">{{title}}</h5>
        <h5 ng-show = "area_view == false && regional_view == true">{{selected_area.name}}'s Region Analysis</h5>
		<h5 ng-show = "regional_view == false && city_view == true">{{selected_region.name}}'s City Analysis</h5>
		<h5 ng-show = "area_view == false && regional_view == false && city_view == false">{{selected_city.name}}'s Branch Analysis</h5>
        <div class="ibox-tools">
            <ul class="tab-links">
                <li class="active"><a  ng-model="radioModel" uib-btn-radio="'Complaints'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Complaint Resolution Analysis">Complaints</a></li>
                <li><a  ng-model="radioModel" uib-btn-radio="'Rating'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Overall Feedback Analysis">Rating</a></li>
                <li><a  ng-model="radioModel" uib-btn-radio="'QSC'" ng-click = "showChart(null, 'areas')" uib-tooltip="Click to View Overall QSC Analysis">QSC</a></li>
                <li>
                    <div class="calender-outer">
					<span class = "calendar-holder" uib-tooltip="Click to Select Custom Date Range">
					  <input date-range-picker id="daterange-map" name="daterange-map" class="date-picker" type="text" ng-model="date" max="today" options = "datePickerOption" readonly="true"/>
					  <i class="glyphicon glyphicon-calendar" map-range-click></i>
					</span>
				  </div>
                </li>
              </ul>
        </div>
    </div>
     <div class = "breadcrum">
        <span ng-hide = "area_view">
         <a ng-click = "backToAreas()" style = "cursor:pointer">Area/</a>
       </span>
       <span ng-show = "area_view == false && regional_view == false">
         <a ng-click = "backToRegions(selected_area)" style = "cursor:pointer">{{selected_area.name}}/</a>
       </span>
       <span ng-show = "area_view == false && regional_view == false && city_view == false">
         <a ng-click = "backToCities(selected_region)" style = "cursor:pointer;">{{selected_region.name}}/</a>
       </span>
     </div>

    <div class="ibox-content morris-content-outer">
      <div class="morris-content-holder" ng-repeat = "area in donut_graph_data.objects track by $index" ng-show = "area_view == true">
        <div class="morris-graph-holder" same-region-height data-data="donut_graph_data.donutData[$index]">
           <div class="morris-holder">
               <div ng-show="area.show_chart" morris-chart data-data="donut_graph_data.donutData[$index]" data-type="donut" data-options="donut_graph_data.donutOptions[$index]" data-action="open(option,area,region,city,branch)"></div>
           </div>
            <div ng-hide="area.show_chart">No data available</div>
        </div>
        <strong class="title"><a ng-click = "showChart(area, 'regions')" style = "cursor:pointer;">{{area.name}}</a></strong>
      </div>
       <div ng-show="show_string && area_view == true">No area available</div>


      <div class="morris-content-holder" ng-repeat = "region in donut_regions_data.objects track by $index" ng-show = "area_view == false && regional_view == true">
        <div class="morris-graph-holder" same-region-height data-data="donut_regions_data.donutData[$index]">
           <div class="morris-holder">
               <div ng-show="region.show_chart" morris-chart data-data="donut_regions_data.donutData[$index]" data-type="donut" data-options="donut_regions_data.donutOptions[$index]" data-action="open(option,selected_area,region,city,branch)"></div>
           </div>
            <div ng-hide="region.show_chart">No data available</div>
          </div>
          <strong class="title"><a ng-click = "showChart(region, 'cities')" style = "cursor:pointer;">{{region.name}}</a></strong>
        </div>
        <div ng-show="show_string && area_view == false && regional_view == true">No region available</div>


      <div class="morris-content-holder" ng-repeat = "city in donut_cities_data.objects track by $index" ng-show = "area_view == false && regional_view == false && city_view == true">
        <div class="morris-graph-holder" same-city-height data-data = "donut_cities_data.donutData[$index]">
           <div class="morris-holder">
               <div ng-show="city.show_chart" morris-chart data-data="donut_cities_data.donutData[$index]" data-type="donut" data-options="donut_cities_data.donutOptions[$index]" data-action="open(option,selected_area,selected_region,city,branch)"></div>
           </div>
            <div ng-hide="city.show_chart">No data available</div>
          </div>
          <strong class="title"><a ng-click = "showChart(city, 'branches')" style = "cursor:pointer;">{{city.name}}</a></strong>
        </div>
        <div ng-show="show_string && area_view == false && regional_view == false && city_view == true">No city available</div>


      <div class="morris-content-holder" ng-repeat = "branch in donut_branches_data.objects track by $index" ng-show = "area_view == false && regional_view == false && city_view == false">
        <div class="morris-graph-holder" same-branch-height  data-data = "donut_branches_data.donutData[$index]">
           <div class="morris-holder">
               <div ng-show="branch.show_chart" morris-chart data-data="donut_branches_data.donutData[$index]" data-type="donut" data-options="donut_branches_data.donutOptions[$index]" data-action="open(option,selected_area,selected_region,selected_city,branch)"></div>
           </div>
            <div ng-hide="branch.show_chart">No data available</div>
          </div>
          <strong class="title">{{branch.name}}</strong>
        </div>
        <div ng-show="show_string && area_view == false && regional_view == false && city_view == false">No branch available</div>

    </div>
</div>
