<div class="section-holder" >
  <div class="info-area" ng-class="{loading: show_loading}">
    <div class="heading-holder">
    	<div class="btn-group pull-right">
		  <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Comments'" ng-click = "showChart(null, 'regions')">Comments</label>
		  <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Rating'" ng-click = "showChart(null, 'regions')">Rating</label>
		  <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'SQC'" ng-click = "showChart(null, 'regions')">SQC</label>
		</div>
		<h2 ng-show = "regional_view">Regional Analysis</h2>  
		<h2 ng-show = "regional_view == false && city_view == true">{{selected_region.name}} Region City Analysis</h2>
		<h2 ng-show = "regional_view == false && city_view == false">{{selected_city.name}} City Branch Analysis</h2>
    </div>
    <div class="holder">
    	<div class = "breadcrum">
      <span ng-hide = "regional_view">
        <a ng-click = "backToRegions()" style = "style: cursor:pointer">Regions /</a>
      </span>
      <span ng-show = "regional_view == false && city_view == false">
        <a ng-click = "backToCities(selected_region)" style = "cursor:pointer;">{{selected_region.name}} /</a>
      </span>
    </div>

    <div class="list-container">
    	<ul class="info-list" ng-show = "regional_view == true">
      <li ng-repeat = "region in donut_graph_data.objects track by $index">
        <div class="graph-holder">
          <div morris-chart data-data="donut_graph_data.donutData[$index]" data-type="donut" data-options="donut_graph_data.donutOptions[$index]" data-action="open(option,region,city,branch)"></div>
        </div>
        <h3>
          <a ng-click = "showChart(region, 'cities')" style = "cursor:pointer;">{{region.name}}</a>
        </h3>
      </li>
    </ul>

    <ul class="info-list" ng-show = "regional_view == false && city_view == true ">
      <li ng-repeat = "city in donut_cities_data.objects track by $index">
        <div class="graph-holder">
          <div morris-chart data-data="donut_cities_data.donutData[$index]" data-type="donut" data-options="donut_cities_data.donutOptions[$index]" data-action="open(option,selected_region,city,branch)"></div>
        </div>
        <h3>
          <a ng-click = "showChart(city, 'branches')" style = "cursor:pointer;">{{city.name}}</a>
        </h3>
      </li>
    </ul>
    <ul class="info-list" ng-show = "regional_view == false && city_view == false">
      <li ng-repeat = "branch in donut_branches_data.objects track by $index">
        <div class="graph-holder">
          <div morris-chart data-data="donut_branches_data.donutData[$index]" data-type="donut" data-options="donut_branches_data.donutOptions[$index]" data-action="open(option,selected_region,selected_city,branch)"></div>
        </div>
        <h3>{{branch.name}}</h3>
      </li>
    </ul>
    </div>
    </div>
  </div>
</div>
  