<div class="modal-body info-area">
  <a ng-click = "ok()" class="pull-right close-btn-font"><i class="fa fa-times"></i></a>
  <h2>Regional Analysis</h2>
	<a style = "cursor:pointer;" ng-class="{btnSlider: show_angle_left}" ng-click="previous(area,region,city,branch,sqc_data)"></a>
	<a style = "cursor:pointer;" ng-class="{btnSlider:show_angle_right, right:show_angle_right}" ng-click="next(area,region,city,branch,sqc_data)"></a>

  <div class="graph-container" ng-class="{loading: show_loading}">
  	<div class="holder">
  		<div class="graph-holder">
		<div morris-chart-modal data-data="donut_subgraph_data.donutData" data-type="donut" data-options="donut_subgraph_data.donutOptions"></div>
	  </div>
	  <div style = "text-align: center;" ng-show="show_div">No data available</div>
  	</div>
  </div>
  <h3 style = "text-align: center;">{{ sqc.name }}</h3>
</div>
