#wrapper{
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100%;
}

.chart-outer{
	width: 100%;
	height: 100%;
	@extend %clearfix;
	padding: 0 2%;
	
	@include media("≥widescreen"){padding: 0 5%;}
	
	> div{
		width: 100% !important;
		height: 100% !important;
	}
}

#piechart,
#container{
	width: 100% !important;
	height: 100% !important;
	
	.amcharts-chart-div{
		z-index: 1;
		position: relative;
		
		&:after{
			position: absolute;
			bottom: 0;
			content: '';
			pointer-events: none;
			z-index: -1;
			background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 70%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 70%);
background: radial-gradient(ellipse at center, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 );
		}
	}
}

#piechart{
	.amcharts-chart-div{
		&:after{
			left: 19%;
			right: 19%;
			top: 30%;
			bottom: 5%;
			
			@include media("≥widescreen"){
				left: 21%;
				right: 21%;
				bottom: 0;
			}
		}
	}
}

#container{
	.amcharts-chart-div{
		&:after{
			left: 30%;
			right: 0;
			top: 40%;
			bottom: 10%;
			
			@include media("≥widescreen"){
				left: 30%;
				right: 10%;
				bottom: -50px;
			}
		}
	}
}

#area-chart{
	overflow: visible !important;
	
	.amcharts-chart-div{overflow: visible !important;}
}

svg{
	text{text-shadow: 0 0 1px #000;}
}

.amChartsLegend.amcharts-legend-div{
	text{text-shadow: none !important;}
}