{% extends "emails/base.html" %}
{% load i18n %}
{% block body %}
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:100% !important;">
		<tr>
        	<td valign="top" align="center">
				<table align="center" width="100%" bgcolor="#ac1a1a" cellpadding="0" cellspacing="0" style="width:100% !important; background:#ac1a1a; height:4px; font-size:0; line-height:0;">
					<tr>
                        <td valign="top" align="center" width="100" bgcolor="#ac1a1a" height="4" style="font-size:0; width:100px; line-height:0; background:#ac1a1a; text-align:center;"><img src="http://107.170.73.100/demos/MaDonald/img1.gif" border="0" width="100" height="4" alt="Mcdonald's Feedback" style="display:block; margin:0 auto;" /></td>
                    </tr>
                </table>
            </td>
		</tr>
		<tr>
			<td valign="top" align="left" style="padding-bottom:10px;">
				<table width="100%" align="center" cellpadding="0" cellspacing="0" style="max-width:600px;">
					<tr>
						<td>
							<table width="100%" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" align="left">
										<table width="100%" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top" align="center" width="100" height="99">
												<a href="" target="_blank" style="text-decoration:none;"><img src="http://107.170.73.100/demos/MaDonald/logo.png" border="0" width="100" height="99" alt="Mcdonald's Feedback" /></a>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td valign="top" align="left" height="15">&nbsp;</td>
								</tr>

                                <tr>
									<td valign="top" align="left" class="text-holder">
										<table width="100%" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top" align="left" style="padding-bottom:16px; font-size:12px; line-height:12px; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; color:#919191;"><strong style="font-weight:bold;">McDonald‘s Feedback</strong> – Guest Feedback </td>
											</tr>
										</table>
									</td>
								</tr>

                                <tr>
									<td valign="top" align="center" bgcolor="#efefef" class="info-text" style="padding-top:27px; padding-left:10px; padding-right:10px; padding-bottom:40px;">
										<table width="100%" cellspacing="0" cellpadding="0" style="max-width:460px;">
											<tr>
												<td valign="top" align="center" style="padding-bottom:16px; font-size:20px; line-height:22px; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; color:#ac1a1a;"><strong style="font-weight:bold;">Very Bad</strong> Rating Received</td>
											</tr>

                                            <tr>
                                            	<td valign="top" align="left" style="padding-bottom:33px; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#919191;">A customer has just registered a complaint at <strong style="font-weight:bold;">{{ feedback.branch.name }} Branch, {{ feedback.branch.city.name }}.</strong><br /> The details of the complaint are as follows:</td>
                                            </tr>

                                            <tr>
                                            	<td valign="top" align="left" style="border-left:1px solid #ac1a1a;">
                                                	<table width="100%" cellspacing="0" cellpadding="0">
                                                    	<tr>
                                                        	<td valign="top" align="right" width="141" style="padding-bottom:20px; padding-left:5px; font-size:14px; line-height:18px; font-weight:bold; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; color:#919191;">Name:</td>
                                                           <td valign="top" align="left" width="286" class="detail-text" style="padding-bottom:20px; padding-left:20px; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#919191;">
                                                            {{ feedback.customer_name }}
                                                           </td>
                                                        </tr>
                                                        <tr>
                                                        	<td valign="top" align="right" width="141" style="padding-bottom:20px; padding-left:5px; font-size:14px; line-height:18px; font-weight:bold; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; color:#919191;">Contact Number:</td>
                                                           <td valign="top" align="left" width="286" class="detail-text" style="padding-bottom:20px; padding-left:20px; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#919191;"><a href="tel:{{ feedback.customer_phone }}" style="color:#919191; text-decoration:none;"><span style="color:#919191; text-decoration:none;">{{ feedback.customer_phone }}</span></a></td>
                                                        </tr>
{#                                                        <tr>#}
{#                                                        	<td valign="top" align="right" width="141" style="padding-bottom:20px; padding-left:5px; font-size:14px; line-height:18px; font-weight:bold; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; color:#919191;">Problems Faced in:</td>#}
{#                                                           <td valign="top" align="left" width="286" class="detail-text" style="padding-bottom:20px; padding-left:20px; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#919191;">#}
{#                                                               {% for feedback_option in feedback.feedback_option.all %}#}
{#                                                                {{ feedback_option.option.text }}#}
{#                                                               {% endfor %}#}
{#                                                           </td>#}
{#                                                        </tr>#}
                                                        <tr>
                                                        	<td valign="top" align="right" width="141" style="padding-bottom:14px; padding-left:5px; font-size:14px; line-height:18px; font-weight:bold; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; color:#919191;">Comment:</td>
                                                           <td valign="top" align="left" width="286" class="detail-text" style="padding-bottom:14px; padding-left:20px; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#919191;">
                                                               {% if feedback.comment|length > 0 %}
                                                                {{ feedback.comment }}
                                                               {% else %}
                                                                 N/A
                                                               {% endif %}
                                                           </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                            	<td valign="top" align="left" height="28">&nbsp;</td>
                                            </tr>

                                            <tr>
                                            	<td valign="top" align="center" style="font-size:14px; line-height:37px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#ffffff;"><a href="" target="_blank" style="color:#ffffff; display:block; width:100%; background:#ac1a1a; text-decoration:none;"><span style="color:#ffffff; background:#ac1a1a; display:block; width:100%; text-decoration:none;">View Analytics for Gulberg</span></a>
												</td>
                                            </tr>

										</table>
									</td>
								</tr>

                                <tr>
									<td valign="top" align="left" height="18">&nbsp;</td>
								</tr>

                                <tr>
                                	<td valign="top" align="left" class="text-holder">
                                    	<table width="100%" cellspacing="0" cellpadding="0">
                                        	<tr>
                                            	<td valign="top" align="left" style="font-size:11px; line-height:15px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#919191;">McFeedback Service</td>
                                            </tr>
                                            <tr>
                                            	<td valign="top" align="left" style="font-size:11px; line-height:15px; font-family:Arial, Helvetica, sans-serif; color:#bbbbbb;">You are receiving this email because you are subscribed for notification for this branch! &nbsp;&nbsp;&nbsp;<strong style="font-weight:bold;"><a href="" target="_blank" style="color:#bbbbbb; text-decoration:none;"><span style="color:#bbbbbb; text-decoration:none;">Unsubscribed</span></a></strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}