.detail-holder{
	overflow: hidden;
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0 50px;
	color: $mine-shaft;
	
	@include media("≥widescreen"){padding: 0 120px;}
	
	> .table-inner{
		display: table-cell;
		vertical-align: middle;
		width: 30%;
		padding: 0 5px;
		
		&:first-child{width: 70%;}
	}
}

.table-holder{
	background: url(../images/bg-table.png) rgba($dandelion,0.15);
	font-size: 16px;
	line-height: 22px;
	width: 100%;
	padding: 9px;
	border: 1px solid $lemon;
	
	@include media("≥widescreen"){
		font-size: 20px;
		line-height: 26px;
	}
}

.table{
	width: 100%;
	border-collapse: collapse;
	
	td{
		padding: 8px;
		border-style: solid;
		border-width: 1px 0 0 1px;
		border-color: $lemon;
		width: 33.33%;
		
		&:first-child{border-left: 0;}
		
		@include media("≥widescreen"){
			padding: 8px;
			font-size: 16px;
			line-height: 20px;
		}
	}
	
	tr{
		&:first-child{
			td{border-top: 0;}
		}
	}
	.text-block{
		overflow: hidden;
		width: 100%;
		letter-spacing: -6px;
	}
	.text{
		@include inline-block(middle);
		letter-spacing: 0;
		width: 80%;
	}
	.count{
		@include inline-block(middle);
		letter-spacing: 0;
		width: 20%;
		text-align: right;
	}
}

.info-block{
	overflow: hidden;
	text-transform: uppercase;
	h3{
		color: $rosso-corsa;
		margin: 0 8px 15px;
		font-weight: 400;
		
		@include media("≥widescreen"){
			margin: 0 10px 20px;
			font-size: 20px;
		}
	}
	
	ul{
		@extend %listreset;
		overflow: hidden;
		
		li{
			overflow: hidden;
			letter-spacing: -6px;
			border-top: 1px solid $lemon;
			padding: 20px 8px;
			
			@include media("≥widescreen"){padding: 20px 8px;}
		}
		
		.name{
			@include inline-block(middle);
			letter-spacing: 0;
			width: 80%;
			font-size: 20px;
			line-height: 26px;
			font-weight: 300;
			
			@include media("≥widescreen"){
				font-size: 20px;
				line-height: 26px;
			}
		}
		
		.count{
			@include inline-block(middle);
			letter-spacing: 0;
			width: 20%;
			font-size: 20px;
			line-height: 26px;
			text-align: right;
			
			@include media("≥widescreen"){
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
}

@media screen and (max-width: 1300px) ,
	screen and (min-height: 900px) {
		.table{
			td{
				padding: 12px;
				font-size: 20px;
				line-height: 26px;
			}
		}
		.info-block{
			h3{font-size: 24px;}
			ul{
				li{padding: 30px 10px;}
				.name{
					font-size: 30px;
					line-height: 36px;
				}
				.count{
					font-size: 30px;
					line-height: 36px;
				}
			}
			
		}
}
