.feedback-block{
	overflow: hidden;
	background: $white;
	border: 1px solid $alto2;
	
	.heading-holder{
		overflow: hidden;
		border-bottom: 1px solid $alto2;
		margin: 0 0 18px;
		padding: 0 0 0 10px;
		
		@include media("≥widescreen"){padding: 0 0 0 20px;}
		
		.calender-outer{
			float: right;
			position: relative;
			padding: 0;


			&:after{
				position: absolute;
				left: 0;
				top: -999px;
				bottom: -999px;
				content: "";
				background: $alto2;
				width: 1px;
			}

			.calendar-holder{
				padding: 9px 18px;

				@include media("<tablet"){
					float: none !important;
					display: block;
					width: 100%;
					text-align: center;

					i{
						float: none !important;
						@inlude inline-block(top);
					}
				}

				@include media("≥tablet"){padding: 17px 15px;}
				@include media("≥desktop"){padding: 19px 18px;}
				@include media("≥widescreen"){padding: 21px 20px;}
			}
		}
	}
	
	h2{
		margin: 0;
		overflow: hidden;
		line-height: 2.55em;
	 	@include media("≥tablet"){line-height: 3.1em;}
	}
	.graph-holder{
		overflow: hidden;
		@include v-align(100%, middle, before);
		padding: 0 10px 10px;
		
		@include media("<desktop"){height: auto !important;}
		
		@include media("≥widescreen"){padding: 0 20px 10px;}
		
		.holder{width: 100%;}
		.chart-container{
			@include media("<desktop"){
				max-width: 600px;
				margin: 0 auto;
			}
		}
	}
}
.title-list{
	@extend %listreset;
	overflow: hidden;
	text-align: center;
	margin: 0 0 10px;
	
	li{
		@include inline-block(top);
		margin: 0 5px 5px;
		
		&.v-good{color: $brand-success;}
		&.good{color: $brand-primary;}
		&.neutral{color: $brand-warning;}
		&.negative{color: $brand-danger;}
	}
}

.feedback-holder{
	width:100%;
	overflow:hidden;
}
.feedback-list{
	list-style: none;
	padding: 0;
    text-align:center;
	margin: 0 -15px;
	
	@include media("≥phone"){
		margin: 0;
		width: 91%;
		display: table;
	}
	@include media("≥desktop"){width: 97%;}
	@include media("≥widescreen"){width: 92%;}
	> li{
		@include inline-block(top);
		padding: 0 5px 10px;
		text-align: center;
		
		@include media("<phone"){width: 50%;}
		@include media("≥phone"){
			display: table-cell;
			vertical-align: top;
		}
		
		.img-holder{
			overflow: hidden;
			margin: 0 0 15px;
			min-height: 150px;
			font-size: 25px;
			line-height: 28px;
			@include inline-block(top);
			@include v-align(100%, top, before);
			&:before{min-height: inherit;}
			
			span{cursor: default;}
		}
		
		h3{
			word-spacing: -1px;
			@include fontsize(18, 15);
			line-height: 1.2em;
			text-align: center;
			span{
				display: block;
				@include fontsize(18, 18);
			}
		}
		
		&.v-good{
			color: $brand-success;
			h3{color: $brand-success;}
			.ico-list{border-color: $brand-success;}
		}
		&.good{
			color: $brand-primary;
			h3{color: $brand-primary;}
			.ico-list{border-color: $brand-primary;}
		}
		&.neutral{
			padding-top: 10px;
			color: $brand-warning;
			h3{color: $brand-warning;}
			.img-holder{margin: 0 0 5px;}
			.ico-list{
				border-color: $brand-warning;
				min-height: 130px;
			}
		}
		&.negative{
			padding-top: 10px;
			color: $brand-danger;
			h3{color: $brand-danger;}
			.img-holder{margin: 0 0 5px;}
			.ico-list{
				border-color: $brand-danger;
				min-height: 130px;
			}
		}
	}
}

.ico-list{
	@extend %listreset;
	overflow: hidden;
	border-style: solid;
	border-width: 0 0 5px;
	letter-spacing: -3px;
	padding: 0 0 10px;
	min-height: 140px;
	@include inline-block(top);
	
	> li{
		@include inline-block(top);
		margin: 0 3px;
		
		@include media("≥desktop"){margin: 0 2px;}
		@include media("≥widescreen"){margin: 0 3px;}
		
		ul{
			@extend %listreset;
			overflow: hidden;
			
			li{
				overflow: hidden;
				margin: 0 0 8px;
				
				@include media("≥desktop"){margin: 0 0 8px;}
				@include media("≥widescreen"){margin: 0 0 10px;}
			}
		}
	}
}