.feedback-block{
	overflow: hidden;
	background: $white;
	padding: 15px 15px 0;
	
	@include media("≥desktop"){padding: 20px 15px 0;}
	@include media("≥widescreen"){padding: 20px 23px 0 30px;}
	
	h2{
		margin: 0 0 10px;
		@include media("≥desktop"){margin: 0 0 40px;}
	}
}
.title-list{
	@extend %listreset;
	overflow: hidden;
	text-align: center;
	margin: 0 0 10px;
	
	li{
		@include inline-block(top);
		margin: 0 5px 5px;
		
		&.v-good{color: $brand-success;}
		&.good{color: $brand-primary;}
		&.neutral{color: $brand-warning;}
		&.negative{color: $brand-danger;}
	}
}

.feedback-holder{
	width:100%;
	overflow:hidden;
}
.feedback-list{
	list-style: none;
	padding: 0;
    text-align:center;
	margin: 0 -15px;
	
	@include media("≥phone"){
		margin: 0;
		width: 91%;
		display: table;
	}
	@include media("≥desktop"){width: 97%;}
	@include media("≥widescreen"){width: 92%;}
	> li{
		@include inline-block(top);
		padding: 0 5px 10px;
		text-align: center;
		
		@include media("<phone"){width: 50%;}
		@include media("≥phone"){
			display: table-cell;
			vertical-align: top;
		}
		
		.img-holder{
			overflow: hidden;
			margin: 0 0 15px;
			min-height: 150px;
			font-size: 25px;
			line-height: 28px;
			@include inline-block(top);
			@include v-align(100%, top, before);
			&:before{min-height: inherit;}
			
			span{cursor: default;}
		}
		
		h3{
			word-spacing: -1px;
			@include fontsize(18, 15);
			line-height: 1.2em;
			text-align: center;
			span{
				display: block;
				@include fontsize(18, 18);
			}
		}
		
		&.v-good{
			color: $brand-success;
			h3{color: $brand-success;}
			.ico-list{border-color: $brand-success;}
		}
		&.good{
			color: $brand-primary;
			h3{color: $brand-primary;}
			.ico-list{border-color: $brand-primary;}
		}
		&.neutral{
			padding-top: 10px;
			color: $brand-warning;
			h3{color: $brand-warning;}
			.img-holder{margin: 0 0 5px;}
			.ico-list{
				border-color: $brand-warning;
				min-height: 130px;
			}
		}
		&.negative{
			padding-top: 10px;
			color: $brand-danger;
			h3{color: $brand-danger;}
			.img-holder{margin: 0 0 5px;}
			.ico-list{
				border-color: $brand-danger;
				min-height: 130px;
			}
		}
	}
}

.ico-list{
	@extend %listreset;
	overflow: hidden;
	border-style: solid;
	border-width: 0 0 5px;
	letter-spacing: -3px;
	padding: 0 0 10px;
	min-height: 140px;
	@include inline-block(top);
	
	> li{
		@include inline-block(top);
		margin: 0 3px;
		
		@include media("≥desktop"){margin: 0 2px;}
		@include media("≥widescreen"){margin: 0 3px;}
		
		ul{
			@extend %listreset;
			overflow: hidden;
			
			li{
				overflow: hidden;
				margin: 0 0 8px;
				
				@include media("≥desktop"){margin: 0 0 8px;}
				@include media("≥widescreen"){margin: 0 0 10px;}
			}
		}
	}
}