.info-holder{
	background: $white;
	overflow: hidden;
	border: 1px solid $alto2;
	
	.heading-holder{
		@extend .clearfix;
		border-bottom: 1px solid $alto2;
		margin: 0 0 15px;
		
		@include media("≥tablet"){padding: 0 0 0 10px;}
		@include media("≥widescreen"){padding: 0 0 0 20px;}
	}
	
	ul{
		float: right;
		@extend %listreset;
		text-transform: capitalize;
		
		@include media("<tablet"){width: 100%;}
		
		li{
			float: left;
			margin-bottom: -1px;
			
			
			@include media("<tablet"){width: 20%;}
			@include media("<phone"){
				width: auto;
				min-width: 17.5%;
			}
			
			.btn{
				border-radius: 0;
				-webkit-border-radius: 0;
				font-size: 13px;
				line-height: 20px;
				padding: 14px 7px;
				text-align: center;
				color: $battleship-grey;
				border: 0;
				border-left: 1px solid $platinum;
				border-bottom: 1px solid $platinum;
				
				@include media("<tablet"){width: 100%;}

				@include media("≥tablet"){
					font-size: 16px;
					line-height: 22px;
					padding: 16px 15px;
				}

				@include media("≥desktop"){padding: 18px 20px;}
				@include media("≥widescreen"){padding: 20px 30px;}

				&:hover,
				&:active,
				&:focus,
				&.active{
					background: none;
					color: $shark2;
					border: 0;
					border-left: 1px solid $platinum;
					border-bottom: 1px solid $white;
					box-shadow: none;
				}
			}
			
			.calender-outer{
				border-left: 1px solid $platinum;
				padding: 14px 18px;
				overflow: hidden;

				@include media("<tablet"){
					width: 100%;
					text-align: center;
					
					.calendar-holder{float: none !important;}
				}

				@include media("≥tablet"){padding: 17px 15px;}
				@include media("≥desktop"){padding: 19px 18px;}
				@include media("≥widescreen"){padding: 21px 20px;}
			}
		}
	}
	
	h2{
		margin: 0;
		
		@include media("<tablet"){
			padding: 10px;
			border-bottom: 1px solid $platinum;
		}
		
		@include media("≥tablet"){
			float: left;
			line-height: 3em;
		}
	}
}

.progress-container{
	overflow: hidden;
	position: relative;
	padding: 0 10px;
	
	@include media("≥tablet"){
		margin: 0 0 20px;
		&:after{
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			content: "";
			background: $platinum;
			width: 1px;
		}
	}
	@include media("≥widescreen"){padding: 0 30px;}
	.holder{
		overflow: hidden;
		margin: 0 0 20px;
		@include media("≥tablet"){
			float: left;
			width: 49%;
			margin: 0;
			
			+ .holder{float: right;}
		}
	}
}

.progress-area{
	overflow: hidden;
	
	small{
		display: block;
		color: $shark2;
		font-size: 100%;
		margin: 0 0 5px;
		text-transform: uppercase;
		em{
			display: block;
			font-style: normal;
			@include fontsize(14, 16);
			font-weight: 600;
			line-height: 1.2em;
		}
	}
	.progress{
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.progress-section{
		@extend .clearfix;
		margin: 0 0 30px;
		
		.progress-bar{
			position: relative;
			box-shadow: none;
			-webkit-box-shadow: none;
			
			span{
				font-size: 10px;
				line-height: 12px;
				position: absolute;
				left: 100%;
				top: 100%;
				width: 32px;
				display: block;
				border-right: 1px solid $white;
				margin: 1px 0 0 -32px;
				padding: 0 3px 0 0;
				color: $mountain-mist;
				text-align: right;
			}
			
			&.progress-bar-yellow{
				span{border-right-color: $golden-poppy;}
			  }

			  &.progress-bar-lilac{
				  span{border-right-color: $deep-lilac;}
			  }

			  &.progress-bar-blue{
				  span{border-right-color: $bleu-de-france;}
			  }
		}
	}
	.progress-bar{
		border-radius: 0;
		-webkit-border-radius: 0;
		height: 6px;
		background: $eminence;
		
		&.progress-bar-yellow{
			color: $golden-poppy;
			background: $golden-poppy;
		  }

		  &.progress-bar-lilac{
			background: $deep-lilac;
			color: $deep-lilac;
		  }

		  &.progress-bar-blue{
			background: $bleu-de-france;
			color: $bleu-de-france;
		  }
	}
	.progress{
		overflow: visible;
		margin: 0;
		height: 6px;
		box-shadow: none;
		color: inherit;
		background: $mercury;
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	.progress-holder{
		@extend .clearfix;
		margin: 0 0 30px;
		
		.progress{
			position: relative;
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
		}
		
		
		.progress-bar{
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
			span,
			b{
				font-size: 12px;
				line-height: 14px;
				position: absolute;
				top: -5px;
				font-weight: normal;
				left: 100%;
				text-align: right;
				width: 30px;
				text-align: right;
			}
		}
		
	  	&.yellow{
			  color: $golden-poppy;
			  .progress-bar{
				color: $golden-poppy;
				background: $golden-poppy;
			  }
		  }

		  &.lilac{
			  color: $deep-lilac;
			  .progress-bar{
				background: $deep-lilac;
				 color: $deep-lilac;
			  }
		  }

		  &.blue{
			  color: $bleu-de-france;
			  .progress-bar{
				background: $bleu-de-france;
				color: $bleu-de-france;
			  }
		  }
		.progress-block{
			position: relative;
			@extend .clearfix;
			padding: 0 30px 0 0;
		}
	}
}
