.info-holder{
	background: $white;
	overflow: hidden;
	border: 1px solid $alto2;
	
	.heading-holder{
		@extend .clearfix;
		border-bottom: 1px solid $alto2;
		margin: 0 0 15px;
		
		@include media("≥tablet"){padding: 0 0 0 10px;}
		@include media("≥widescreen"){padding: 0 0 0 20px;}
	}
	
	ul{
		float: right;
		@extend %listreset;
		text-transform: capitalize;
		
		@include media("<tablet"){width: 100%;}
		
		li{
			float: left;
			margin-bottom: -1px;
			
			
			@include media("<tablet"){
				width: 20%;
				&:first-child{
					.btn{
						border-left: 0;
						&:hover,
						&:active,
						&:focus,
						&.active{border-left: 0;}
					}
				}
			}
			@include media("<phone"){
				width: 24.5%;
				
				&:first-child{width: 13%;}
				&:last-child{width: 13.5%;}
			}
			
			.btn{
				border-radius: 0;
				-webkit-border-radius: 0;
				font-size: 13px;
				line-height: 20px;
				padding: 10px 7px;
				text-align: center;
				color: $battleship-grey;
				border: 0;
				border-left: 1px solid $platinum;
				border-bottom: 1px solid $platinum;
				
				@include media("<tablet"){width: 100%;}

				@include media("≥tablet"){
					font-size: 16px;
					line-height: 22px;
					padding: 17px 15px;
				}

				@include media("≥desktop"){padding: 19px 20px;}
				@include media("≥widescreen"){padding: 20px 30px;}

				&:hover,
				&:active,
				&:focus,
				&.active{
					background: none;
					color: $shark2;
					border: 0;
					border-left: 1px solid $platinum;
					border-bottom: 1px solid $white;
					box-shadow: none;
				}
			}
			
			.calender-outer{
				border-left: 1px solid $platinum;
				overflow: hidden;

				@include media("<tablet"){
					width: 100%;
					text-align: center;
				}
				
				.calendar-holder{
					padding: 10px 3px;
					
					@include media("<tablet"){
						float: none !important;
						display: block;
						width: 100%;
						text-align: center;
						
						i{
							float: none !important;
							@inlude inline-block(top);
						}
					}
					
					@include media("≥tablet"){padding: 17px 15px 18px;}
					@include media("≥desktop"){padding: 19px 18px 20px;}
					@include media("≥widescreen"){padding: 21px 20px 20px;}
				}
			}
		}
	}
	
	h2{
		margin: 0;
		
		span{
			line-height: 1em;
			color: $black;
			margin: 0 2px;
			@include inline-block(middle);
			cursor: default;
			&:before{cursor: default;}
		}
		
		@include media("<tablet"){
			padding: 10px;
			border-bottom: 1px solid $platinum;
		}
		
		@include media("≥tablet"){
			float: left;
			line-height: 3.14em;
		}
		@include media("≥widescreen"){line-height: 3.1em;}
	}
}

.progress-container{
	overflow: hidden;
	position: relative;
	padding: 0 10px;
	min-height: 200px;
	
	&.loading{
	&:after{
		visibility: visible;
		opacity: 1;
	  }
	  &:before{
		visibility: visible;
		opacity: 0.5;
	  }
	}
	
	 &:after{
      position: absolute;
      left: 50%;
      top: 50%;
      background: url(../assets/images/loader.gif) no-repeat;
      width: 70px;
      height: 75px;
      content: "";
      margin: -37px 0 0 -35px;
      visibility: hidden;
      opacity: 0;
      z-index: 99;
    }
    
    &:before{
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      background: $white;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 5;
    }
	
	.main-holder{
		overflow: hidden;
		clear: both;
		position: relative;
		margin: 0 -10px;
		
		@include media("≥tablet"){
			margin: 0 0 20px;
			&:after{
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				content: "";
				background: $platinum;
				width: 1px;
			}
		}
	}
	@include media("≥widescreen"){padding: 0 30px;}
	.holder{
		overflow: hidden;
		padding: 0 10px;
		@include media("≥tablet"){
			float: left;
			width: 49%;
			padding: 0;
			
		}
		+ .holder{
			padding-top: 20px;
			border-top: 2px solid $platinum;
			@include media("≥tablet"){
				float: right;
				border-top: 0;
				padding-top: 0;
			}
		}
	}
}

.progress-area{
	clear: both;
	overflow: hidden;
	
	small{
		display: block;
		color: $shark2;
		font-size: 100%;
		margin: 0 0 5px;
		text-transform: uppercase;
		em{
			display: block;
			font-style: normal;
			@include fontsize(14, 16);
			font-weight: 600;
			line-height: 1.2em;
		}
	}
	.progress{
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.progress-section{
		@extend .clearfix;
		margin: 0 0 30px;
		
		@include media("≥tablet"){margin: 0 0 45px;}
		
		.progress-bar{
			position: relative;
			box-shadow: none;
			-webkit-box-shadow: none;
			
			span{
				font-size: 10px;
				line-height: 12px;
				position: absolute;
				left: 100%;
				top: 100%;
				width: 32px;
				display: block;
				border-right: 1px solid $white;
				margin: 1px 0 0 -32px;
				padding: 0 3px 0 0;
				color: $mountain-mist;
				text-align: right;
			}
			
			&.progress-bar-yellow{
				span{border-right-color: $golden-poppy;}
			  }

			  &.progress-bar-lilac{
				  span{border-right-color: $deep-lilac;}
			  }

			  &.progress-bar-blue{
				  span{border-right-color: $bleu-de-france;}
			  }
		}
	}
	.progress-bar{
		border-radius: 0;
		-webkit-border-radius: 0;
		height: 6px;
		background: $eminence;
		
		&.progress-bar-yellow{
			color: $golden-poppy;
			background: $golden-poppy;
		  }

		  &.progress-bar-lilac{
			background: $deep-lilac;
			color: $deep-lilac;
		  }

		  &.progress-bar-blue{
			background: $bleu-de-france;
			color: $bleu-de-france;
		  }
	}
	.progress{
		overflow: visible;
		margin: 0;
		height: 6px;
		box-shadow: none;
		color: inherit;
		background: $mercury;
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	.progress-holder{
		@extend .clearfix;
		margin: 0 0 30px;
		
		.progress{
			position: relative;
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
		}
		
		
		.progress-bar{
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
			span,
			b{
				font-size: 12px;
				line-height: 14px;
				position: absolute;
				top: 100%;
				font-weight: normal;
				left: 0;
				text-align: right;
				text-align: left;
			}
		}
		
	  	&.yellow{
			  color: $golden-poppy;
			  .progress-bar{
				color: $golden-poppy;
				background: $golden-poppy;
			  }
		  }

		  &.lilac{
			  color: $deep-lilac;
			  .progress-bar{
				background: $deep-lilac;
				 color: $deep-lilac;
			  }
		  }

		  &.blue{
			  color: $bleu-de-france;
			  .progress-bar{
				background: $bleu-de-france;
				color: $bleu-de-france;
			  }
		  }
		.progress-block{
			position: relative;
			@extend .clearfix;
		}
	}
}


.progress-container{
	&.Quality{
		.progress-holder{
			.progress-bar{
				background: $clairvoyant;
				b,span{color: $clairvoyant;}
			}
			&:nth-child(2) {
				.progress-bar{
					background: $scarlet-gum;
					b,span{color: $scarlet-gum;}
				}
			}
			&:nth-child(3) {
				.progress-bar{
					background: $eminence2;
					b,span{color: $eminence2;}
				}
			}
			&:nth-child(4) {
				.progress-bar{
					background: $affair;
					b,span{color: $affair;}
				}
			}
			&:nth-child(5) {
				.progress-bar{
					background: $deep-lilac2;
					b,span{color: $deep-lilac2;}
				}
			}
			&:nth-child(6) {
				.progress-bar{
					background: $rich-lavender2;
					b,span{color: $rich-lavender2;}
				}
			}
		}
		.progress-section{
			.progress-bar{
				background: $clairvoyant;
				span{border-right-color: $clairvoyant;}
				&:nth-child(2) {
					background: $scarlet-gum;
					span{border-right-color: $scarlet-gum;}
				}
				&:nth-child(3) {
					background: $eminence2;
					span{border-right-color: $eminence2;}
				}
				&:nth-child(4) {
					background: $affair;
					span{border-right-color: $affair;}
				}
				&:nth-child(5) {
					background: $deep-lilac2;
					span{border-right-color: $deep-lilac2;}
				}
				&:nth-child(6) {
					background: $rich-lavender2;
					span{border-right-color: $rich-lavender2;}
				}
			}
		}
		.list{
			&.add{
				
				li{
					&:before{background: $clairvoyant;}
					&:nth-child(2) {
						&:before{background: $scarlet-gum;}
					}
					&:nth-child(3) {
						&:before{background: $eminence2;}
					}
					
					&:nth-child(4) {
						&:before{background: $affair;}
					}
					&:nth-child(5) {
						&:before{background: $deep-lilac2;}
					}
					&:nth-child(6) {
						&:before{background: $rich-lavender2;}
					}
				}
			}
		}
	}
	&.Service{
		.progress-holder{
			.progress-bar{
				background: $west-side;
				b,span{color: $west-side;}
			}
			&:nth-child(2) {
				.progress-bar{
					background: $tree-poppy;
					b,span{color: $tree-poppy;}
				}
			}
			&:nth-child(3) {
				.progress-bar{
					background: $my-sin;
					b,span{color: $my-sin;}
				}
			}
			&:nth-child(4) {
				.progress-bar{
					background: $lightning-yellow;
					b,span{color: $lightning-yellow;}
				}
			}
			&:nth-child(5) {
				.progress-bar{
					background: $sunglow;
					b,span{color: $sunglow;}
				}
			}
			&:nth-child(6) {
				.progress-bar{
					background: $banana-yellow;
					b,span{color: $banana-yellow;}
				}
			}
		}
		.progress-section{
			.progress-bar{
				background: $west-side;
				span{border-right-color: $west-side;}
				&:nth-child(2) {
					background: $tree-poppy;
					span{border-right-color: $tree-poppy;}
				}
				&:nth-child(3) {
					background: $my-sin;
					span{border-right-color: $my-sin;}
				}
				&:nth-child(4) {
					background: $lightning-yellow;
					span{border-right-color: $lightning-yellow;}
				}
				&:nth-child(5) {
					background: $sunglow;
					span{border-right-color: $sunglow;}
				}
				&:nth-child(6) {
					background: $banana-yellow;
					span{border-right-color: $banana-yellow;}
				}
			}
		}
		
		.list{
			&.add{
				
				li{
					&:before{background: $west-side;}
					&:nth-child(2) {
						&:before{background: $tree-poppy;}
					}
					&:nth-child(3) {
						&:before{background: $my-sin;}
					}
					
					&:nth-child(4) {
						&:before{background: $lightning-yellow;}
					}
					&:nth-child(5) {
						&:before{background: $sunglow;}
					}
					&:nth-child(6) {
						&:before{background: $banana-yellow;}
					}
				}
			}
		}
	}
	&.Cleanliness{
		.progress-holder{
			.progress-bar{
				background: $dark-cerulean;
				b,span{color: $dark-cerulean;}
			}
			&:nth-child(2) {
				.progress-bar{
					background: $venice-blue;
					b,span{color: $venice-blue;}
				}
			}
			&:nth-child(3) {
				.progress-bar{
					background: $bahama-blue;
					b,span{color: $bahama-blue;}
				}
			}
			&:nth-child(4) {
				.progress-bar{
					background: $denim;
					b,span{color: $denim;}
				}
			}
			&:nth-child(5) {
				.progress-bar{
					background: $lochmara;
					b,span{color: $denim;}
				}
			}
			&:nth-child(6) {
				.progress-bar{
					background: $rich-electric-blue;
					b,span{color: $rich-electric-blue;}
				}
			}
		}
		.progress-section{
			.progress-bar{
				background: $dark-cerulean;
				span{border-right-color: $dark-cerulean;}
				&:nth-child(2) {
					background: $venice-blue;
					span{border-right-color: $venice-blue;}
				}
				&:nth-child(3) {
					background: $bahama-blue;
					span{border-right-color: $bahama-blue;}
				}
				&:nth-child(4) {
					background: $denim;
					span{border-right-color: $denim;}
				}
				&:nth-child(5) {
					background: $lochmara;
					span{border-right-color: $lochmara;}
				}
				&:nth-child(6) {
					background: $rich-electric-blue;
					span{border-right-color: $rich-electric-blue;}
				}
			}
		}
		
		.list{
			&.add{
				
				li{
					&:before{background: $dark-cerulean;}
					&:nth-child(2) {
						&:before{background: $venice-blue;}
					}
					&:nth-child(3) {
						&:before{background: $bahama-blue;}
					}
					
					&:nth-child(4) {
						&:before{background: $denim;}
					}
					&:nth-child(5) {
						&:before{background: $lochmara;}
					}
					&:nth-child(6) {
						&:before{background: $rich-electric-blue;}
					}
				}
			}
		}
	}	
}