.info-block{
	background: $white;
	overflow: hidden;
	border: 1px solid $alto2;
	
	.calender-outer{
		float: right;
		padding: 0;
		

		.calendar-holder{
			float: right;
			position: relative;
			padding: 9px 18px;
			
			&:after{
				position: absolute;
				left: 0;
				top: -999px;
				bottom: -999px;
				content: "";
				background: $alto2;
				width: 1px;
			}

			@include media("<tablet"){
				float: none !important;
				display: block;
				text-align: center;

				i{
					float: none !important;
					@inlude inline-block(top);
				}
			}

			@include media("≥tablet"){padding: 17px 15px;}
			@include media("≥desktop"){padding: 19px 18px;}
			@include media("≥widescreen"){padding: 21px 20px;}
		}
	}
}

.info-box{
	h2{
		float: left;
		margin: 0;
		line-height: 2.55em;
		@include media("≥tablet"){line-height: 3.1em;}
		
		span{
			line-height: 1em;
			color: $black;
			margin: 0 2px;
			@include inline-block(middle);
			cursor: default;
			&:before{cursor: default;}
		}
	}
	
	.heading{
		overflow: hidden;
		padding: 0 0 0 10px;
		border-bottom: 1px solid $alto2;
		margin: 0 0 18px;
		
		@include media("≥widescreen"){padding: 0 0 0 20px;}
	}
}

.map-detail{
	position: relative;
	overflow: hidden;
	
	&:after{
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  background: url(../assets/images/loader.gif) no-repeat;
		  width: 200px;
		  height: 200px;
		  content: "";
		  margin: -100px 0 0 -100px;
		  visibility: hidden;
		  opacity: 0;
		  z-index: 99;
		}

		&:before{
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  content: "";
		  background: $celeste;
		  visibility: hidden;
		  opacity: 0;
		  position: absolute;
		  z-index: 9;
		}
	
	&.loading{
	&:after{
		visibility: visible;
		opacity: 1;
	  }
	  &:before{
		visibility: visible;
		opacity: 0.5;
	  }
	}
}

.map-holder{
	overflow: hidden;
	position: relative;
	padding: 0 14px 13px;
	@include v-align(100%, middle, before);
	
	&:before{margin: 0 0 0 -4px;}
		  
	> .inner-holder{
		width: 100%;
		max-width: inherit;

		> div{height: 270px;}
	}

	map{height: 270px;}
	
	img{
		display: block;
		width: 100%;
	}
	@include media("≥widescreen"){padding: 0 14px 14px;}
}

.calendar-holder{
	position: relative;
	overflow: hidden;
	@include inline-block(top);
	
	&:hover{
		.glyphicon-calendar{color: lighten($dim-gray,10%);}
	}

	.glyphicon-calendar{
		float: right;
		pointer-events: none;
		font-size: 18px;
		line-height: 20px;
		color: $dim-gray;
		cursor: pointer;
	}

	.date-picker{
		padding: 0;
		background: none;
		border: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		cursor: pointer;
		width: auto !important;
		line-height: 0;
		color: transparent;
	}
}