.info-block{
	background: $white;
	overflow: hidden;
	border: 1px solid $alto2;
	
	.calender-outer{
		float: right;
		position: relative;
		padding: 0 0 0 10px;
		
		&:after{
			position: absolute;
			left: 0;
			top: -999px;
			bottom: -999px;
			content: "";
			background: $alto2;
			width: 1px;
		}
		
		@include media("≥widescreen"){padding: 2px 0 0 20px;}
	}
}

.info-box{
	h2{margin: 0;}
	
	.heading{
		overflow: hidden;
		padding: 10px;
		border-bottom: 1px solid $alto2;
		margin: 0 0 18px;
		
		@include media("≥widescreen"){padding: 22px 20px 15px;}
	}
}

.map-holder{
	overflow: hidden;
	padding: 0 14px 14px;
	img{
		display: block;
		width: 100%;
	}
}

.calendar-holder{
	position: relative;
	overflow: hidden;
	@include inline-block(top);

	.glyphicon-calendar{
		float: right;
		pointer-events: none;
		font-size: 18px;
		line-height: 20px;
		color: $dim-gray;
		cursor: pointer;
	}

	.date-picker{
		padding: 0;
		background: none;
		border: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		cursor: pointer;
		width: auto !important;
		line-height: 0;
		color: transparent;
	}
}