.info-area{
	background: $white;
	overflow: hidden;
	padding: 15px 15px 0;
	
	@include media("≥desktop"){padding: 20px 15px 10px 0;}
	@include media("≥widescreen"){padding: 17px 30px 0;}
	h2{
		letter-spacing: 1px;
		margin: 0 0 9px;
	}
	
	.breadcrum{
		span{
			@include inline-block(top);
			cursor: pointer;
		}
	}
	
	&.loading{
		.info-list{
			&:after{
				visibility: visible;
				opacity: 1;
			}
			&:before{
				visibility: visible;
				opacity: 0.5;
			}
		}
	}
}
.info-list{
	@extend %listreset;
	overflow: hidden;
	letter-spacing: -6px;
	text-align: center;
	min-height: 250px;
	position: relative;
	
	&:after{
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../assets/images/loader.gif) no-repeat;
		width: 200px;
		height: 200px;
		content: "";
		margin: -110px 0 0 -100px;
		visibility: hidden;
		opacity: 0;
		z-index: 9;
	}
	
	&:before{
		left: 0;
		right: 0;
		top: 0;
		bottom: 20px;
		content: "";
		background: $celeste;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 5;
	}
	
	@include media("≥widescreen"){padding: 0 36px;}
	
	li{
		@include inline-block(top);
		width: 100%;
		text-align: center;
		margin: 0 0 10px;
		
		@include media("≥phone"){width: 50%;}
		@include media("≥tablet"){width: 33.33%;}
		@include media("≥desktop"){width: 25%;}
	}
	.graph-holder{
		overflow: hidden;
		margin: 0;
		position: relative;
		
		svg{height: 200px !important;}
	}
}