.info-area{
	background: $white;
	overflow: hidden;
	border: 1px solid $alto2;
	
	h2{
		margin: 0;
		overflow: hidden;
		padding: 10px;
		border-bottom: 1px solid $platinum;
		
		@include media("≥tablet"){
			float: left;
			border: 0;
			padding: 0;
			line-height: 3.1em;
		}
		
		span{
			line-height: 1em;
			color: $black;
			margin: 0 2px;
			@include inline-block(middle);
			cursor: default;
			&:before{cursor: default;}
		}
	}
	
	.heading-holder{
		@extend .clearfix;
		border-bottom: 1px solid $platinum;
		
		@include media("≥tablet"){padding: 0 0 0 10px;}
		@include media("≥widescreen"){padding: 0 0 0 20px;}
		
		.calender-outer{
			float: right;
			@include media("<tablet"){width: 100%;}

			.calendar-holder{
				padding: 9px 10px;
				position: relative;
				letter-spacing: 0;
				
				&:after{
					position: absolute;
					left: 0;
					top: -999px;
					bottom: -999px;
					content: "";
					background: $alto2;
					width: 1px;
				}

				@include media("<tablet"){
					float: none !important;
					display: block;
					width: 100%;
					text-align: center;
					
					.date-picker{width: 100% !important;}

					i{
						float: none !important;
						@inlude inline-block(top);
					}
				}

				@include media("≥tablet"){padding: 18px 15px;}
				@include media("≥desktop"){padding: 19px 18px 20px;}
				@include media("≥widescreen"){padding: 21px 20px;}
			}
		}
	}
	
	.holder{
		@extend .clearfix;
		padding: 0 10px;
		
		@include media("≥widescreen"){padding: 0 20px;}
	}
	
	.breadcrum{
		padding: 10px 0;
		span{
			@include inline-block(top);
			cursor: pointer;
		}
	}
	
	&.loading{
		.list-container{
			&:after{
				visibility: visible;
				opacity: 1;
			}
			&:before{
				visibility: visible;
				opacity: 0.5;
			}
		}
	}
	.btn-group{
		position: static;
		overflow: hidden;
		margin: 0 0 -1px;
		letter-spacing: -6px;
		@include media("<tablet"){width: 100%;}
		ul{
			@extend %listreset;
			@extend .clearfix;
			li{
				letter-spacing: 0;
				float: left;
				@include media("<tablet"){
					width: 25%;
					&:first-child{
						.btn{
							border-left: 0;
							&:hover,
							&:active,
							&:focus,
							&.active{border-left: 0;}
						}
					}
				}
			}
		}
		.btn{
			position: relative;
			letter-spacing: 0;
			border-radius: 0;
			-webkit-border-radius: 0;
			font-size: 13px;
			line-height: 20px;
			padding: 10px 5px;
			text-align: center;
			color: $battleship-grey;
			border: 0;
			border-left: 1px solid $platinum;
			border-bottom: 1px solid $platinum;
			
			@include media("<tablet"){
				width: 100%;
				float: left;
			}
			
			@include media("≥tablet"){
				font-size: 16px;
				line-height: 22px;
				padding: 17px 30px;
			}
			
			@include media("≥desktop"){padding: 19px 30px;}
			@include media("≥widescreen"){padding: 20px 30px;}
			
			&:hover,
			&:active,
			&:focus,
			&.active{
				background: none;
				color: $shark2;
				border: 0;
				border-left: 1px solid $platinum;
				border-bottom: 1px solid $white;
				box-shadow: none;
				
			}
		}
	}
}

.list-container{
	margin: 0 -10px;
	padding: 0 10px;
	position: relative;
	min-height: 250px;
	
	@include media("≥widescreen"){
		padding: 0 36px;
		margin: 0 -20px;
	}
	
	&:after{
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../assets/images/loader.gif) no-repeat;
		width: 200px;
		height: 200px;
		content: "";
		margin: -110px 0 0 -100px;
		visibility: hidden;
		opacity: 0;
		z-index: 9;
	}
	
	&:before{
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		content: "";
		background: $celeste;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 5;
	}
	
	.inner-holder{overflow: hidden;}
}

.info-list{
	@extend %listreset;
	overflow: hidden;
	letter-spacing: -6px;
	text-align: center;
	margin: 0 -1px;
	
	li{
		@include inline-block(top);
		width: 100%;
		text-align: center;
		margin: 0 0 10px;
		position: relative;
		padding: 0 3px;
		
		&:after , &:before{
			position: absolute;
			left: -1px;
			top: 0;
			bottom: 0;
			content: "";
			width: 1px;
			background: $platinum;
		}
		&:before{
			left: auto;
			right: 0;
		}
		
		@include media("≥phone"){width: 50%;}
		@include media("≥tablet"){width: 33.33%;}
		@include media("≥desktop"){
			width: 25%;
			margin: 0 0 20px;
		}
		@include media("≥widescreen"){width: 16.666%;}
	}
	h3{
		a{color: $storm-dust2;}
	}
	.graph-holder{
		overflow: hidden;
		margin: 0;
		position: relative;
		@include v-align(100%, middle, before);
		
		> * .graph-inner{
			width: 100%;
		}
		svg{height: 200px !important;}
	}
}

.modal-1000{
	.modal-title{margin: 0;}
	.modal-body{padding: 15px 30px;}
	.info-list{
		li{width: 100%;}
	}
	h2{
		float: none;
		margin: 0 -30px;
		line-height: 1.3em;
		border-bottom: 1px solid $platinum;
		padding: 0 30px 10px;
	}
	.btn-slider{
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -15px;
		font-size: 30px;
		line-height: 30px;
		
		&.glyphicon-menu-right{
			left: auto;
			right: 10px;
		}
	}
	.graph-holder{overflow: hidden;}
}


.tooltip{
	letter-spacing: 0;
	opacity: 1;
	&.top{
		opacity: 1;
		.tooltip-arrow{
			border-top-color: $white;
			opacity: 1;
		}
		@include media("<tablet"){
			display: none !important;
			visibility: hidden !important;
		}
	}
	.tooltip-inner{
		opacity: 1;
		background: $white;
		color: $black;
		max-width: 180px;
		padding: 10px 5px;
		-webkit-box-shadow: 0 5px 10px rgba($black, 0.2);
		box-shadow: 0 5px 10px rgba($black, 0.2);
		@include fontsize(15,13);
		line-height: 1.4em;
		font-family: $font-family-sans-serif;
	}
}

.popover{
	.popover-content{
		@include fontsize(15,15);
		line-height: 1.4em;
		font-family: $font-family-sans-serif;
	}
}