.info-block{
	background: $white;
	overflow: hidden;
}

.info-box{
	text-align: center;
	@include media("≥tablet"){
		width: 40.2%;
		float: left;
		padding: 0 10px 0;
	}
	h2{margin-bottom: 7px;}
	
	.heading{
		overflow: hidden;
		padding: 19px 0 18px;
		
		@include media("≥desktop"){padding: 15px 0 5px;}
		@include media("≥widescreen"){padding: 19px 0 18px;}
	}
}

.map-holder{
	overflow: hidden;
	img{
		display: block;
		width: 100%;
	}

	.list{
		li{
			&:before{
				display: block;
				margin: 0 auto 5px;
				content: "";
				font-size: 0;
				line-height: 0;
				width: 30px;
				height: 43px;
				transform: perspective( 400px ) rotateX( -40deg );
				-webkit-transform: perspective( 400px ) rotateX( -40deg );
				-moz-transform: perspective( 400px ) rotateX( -40deg );
				-o-transform: perspective( 400px ) rotateX( -40deg );
				-ms-transform: perspective( 400px ) rotateX( -40deg );
			}

			&.v-good{
				&:before{background: url(../assets/images/ico-locator2.png) no-repeat;}
			}
			&.negative{
				&:before{background: url(../assets/images/ico-locator.png) no-repeat;}
			}
		}
	}
}