.info-area{
	background: $white;
	overflow: hidden;
	padding: 15px;
	
	@include media("≥desktop"){padding: 20px 15px 10px;}
	@include media("≥widescreen"){padding: 17px 30px;}
	h2{
		letter-spacing: 1px;
		margin: 0 0 29px;
	}
	
	.breadcrum{
		span{
			@include inline-block(top);
			cursor: pointer;
		}
	}
}
.info-list{
	@extend %listreset;
	overflow: hidden;
	letter-spacing: -6px;
	text-align: center;
	
	@include media("≥widescreen"){padding: 0 36px;}
	
	li{
		@include inline-block(top);
		width: 100%;
		text-align: center;
		margin: 0 0 10px;
		
		@include media("≥phone"){width: 50%;}
		@include media("≥tablet"){width: 33.33%;}
		@include media("≥desktop"){width: 25%;}
	}
	.graph-holder{
		overflow: hidden;
		margin: 0 0 20px;
		position: relative;
		
		svg{height: 200px !important;}
	}
}