.list{
	@extend .list-inline;
	text-align: right;
	margin: 0 0 15px;
	color: $tundora;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -6px;
	
	@include media("≥tablet"){
		font-size: 13px;
		line-height: 16px;
	}
	
	@include media("≥widescreen"){
		font-size: 14px;
		line-height: 16px;
	}
	
	li{
		@include inline-block(top);
		letter-spacing: 0;
		padding: 0 10px 6px 9px;
		position: relative;
		
		@include media("≥tablet"){padding: 0 10px 6px 9px;}
		@include media("≥widescreen"){padding: 0 14px 6px;}
				
		&:before{
			position: absolute;
			left: 0;
			top: 50%;
			content: '';
			background: $green-house;
			width: 6px;
			height: 6px;
			margin-top: -6px;
			
			@include media("≥widescreen"){
				width: 8px;
				height: 8px;
				margin-top: -7px;
			}
		}
		
		a{
			color: $tundora;
			&:hover,
			&:active,
			&:focus{color: lighten($tundora,10%);}
		}
		
		&.negative{
			&:before{background: $carnelian;}
		}
		&.neutral{
			&:before{background: $cinnabar;}
		}
		&.good{
			&:before{background: $islamic-green;}
		}
		&.v-good{
			&:before{background: $green-house;}
		}
	}
	
	&.add{
		text-align: left;
		margin: 0 0 15px;
		width: 100%;
		
		li{
			width: auto !important;
		    .bullet{
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 6px;
			  height: 6px;
        	  overflow:hidden;
			  margin-top: -6px;
			  @include media("≥widescreen"){
				  width: 8px;
				  height: 8px;
				  margin-top: -7px;
			  }
		    }
			a{
				color: $tundora;
				&:hover,
				&:active,
				&:focus{color: lighten($tundora,10%);}
			}
		}
	}
}