.rating-section{
  overflow: hidden;
  background: $white;
  text-align: center;
  border: 1px solid $alto2;
  
  
  .heading-block{
    overflow: hidden;
    margin: 0 0 18px;
	border-bottom: 1px solid $alto2;
	padding: 0 0 0 10px;
	  text-align: left;
    
	@include media("≥tablet"){padding: 0 0 0 20px;}
	  
	h2{
      float: left;
      margin: 0 5px 0 0;
	  line-height: 2.55em;
	  @include media("≥tablet"){line-height: 3em;}
    }
    
    a{
      float: right;
      cursor: pointer;
      margin: 13px 5px 0;
      
      &:hover{color: darken($dell,10%);}
		
		
		@include media("≥tablet"){margin: 19px 5px 0;}
		@include media("≥desktop"){margin: 20px 5px 0;}
		@include media("≥widescreen"){margin: 24px 5px 0;}
    }
	  
	.select-holder{
		position:relative;
		float: right;
		margin: 0 0 0 10px;
		
		&:after{
			position: absolute;
			left: 0;
			top: -999px;
			bottom: -999px;
			content: "";
			background: $alto2;
			width: 1px;
		}
		
	}
	  
	  .calender-outer{
		float: right;
		position: relative;
		padding: 0;


		&:after{
			position: absolute;
			left: 0;
			top: -999px;
			bottom: -999px;
			content: "";
			background: $alto2;
			width: 1px;
		}

		.calendar-holder{
			padding: 9px 18px;

			@include media("<tablet"){
				float: none !important;
				display: block;
				width: 100%;
				text-align: center;

				i{
					float: none !important;
					@inlude inline-block(top);
				}
			}

			@include media("≥tablet"){padding: 17px 15px;}
			@include media("≥desktop"){padding: 19px 18px;}
			@include media("≥widescreen"){padding: 21px 20px;}
		}
	}
  }
	
	.graph-outer{
		@include v-align(100%, middle, before);
		.inner-holder{width: 100%;}
		@include media("<desktop"){height: auto !important;}
	}
  
  &.loading{
    .rating-holder{
      &:after{
        visibility: visible;
        opacity: 1;
      }
      &:before{
        visibility: visible;
        opacity: 0.5;
      }
    }
  }
  
  .rating-holder{
    overflow: hidden;
    text-align: center;
    position: relative;
    
    &:after{
      position: absolute;
      left: 50%;
      top: 50%;
      background: url(../assets/images/loader.gif) no-repeat;
      width: 200px;
      height: 200px;
      content: "";
      margin: -100px 0 0 -100px;
      visibility: hidden;
      opacity: 0;
      z-index: 99;
    }
    
    &:before{
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      background: $celeste;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 5;
    }
    
    ul{
      @extend .list-inline;
      text-align: right;
      overflow: hidden;
      margin: 0 0 15px;
      letter-spacing: -6px;
	  font-size: 12px;
	  line-height: 14px;
      
      li{
        vertical-align: top;
        letter-spacing: 0;
        padding: 0 10px 5px 8px;
		position: relative;
		
		  .bullet{
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 6px;
			  height: 6px;
        	  overflow:hidden;
			  margin-top: -6px;
		  }
        
        @include media("≥tablet"){padding: 0 12px 5px 9px;}
		@include media("≥widescreen"){padding: 0 14px 5px 12px;}
		  a{
			  color: $nobel;
			  &:hover,
			  &:active,
			  &:focus{color: darken($nobel,10%);}
		  }
       
        &.item2{
			&:after{background: $deep-lilac;}
        }
        
        &.item3{
			&:after{background: $bleu-de-france;}
        }
      }
    }
	  .graph-holder{
		  overflow: hidden;
		  padding: 0 14px 14px;
		  
		  .ng-isolate-scope{
			  height: 299px !important;
			  > div{height: 299px !important;}
			}
	  }
    .flot-tick-label{max-width: 60px !important;}
  }
	#bubble-chart{margin-bottom: 53px;}	
}

.flotTip{
  border: 1px solid black;
  background-color: white;
}

.flot-tick-label{
  white-space: nowrap;
}


/* custom select styles */
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: $white;
	width: auto;
	font-size: 16px;
	line-height: 20px;
	color: $dim-gray;
	overflow: hidden;
	padding: 12px 35px 9px 20px;
	@include media("≥tablet"){padding: 19px 35px 15px 20px;}
	@include media("≥desktop"){padding: 20px 35px 18px 20px;}
	@include media("≥widescreen"){padding: 25px 35px 18px 20px;}
	
	select {
		z-index: 1;
		left: 0;
		top: 0;
	}
	
	.jcf-select-text {
		text-overflow:ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		margin: 0 10px 0 0;
	}
	
	&.jcf-drop-active{
		.jcf-select-opener {
			&:after{content: '\e801';}
		}
	}
	
	.jcf-select-opener {
		position: absolute;
		text-align: center;
		background: $white;
		bottom: 0;
		right: 0;
		top: 0;
		width: 30px;
		
		&:after{
			font: 20px/20px $ico-font;
			position: absolute;
			left: 0;
			top: 50%;
			content: '\e800';
			margin-top: -8px;
		}
	}
}

body > .jcf-select-drop {
	position: absolute;
	z-index: 9999;
	min-width: 100px;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select-drop{
	&.jcf-drop-flipped{
		bottom: 100%;
		top: auto;
	}
}

.jcf-select-drop .jcf-select-drop-content {
	position: relative;
	border: 1px solid $alto2;
}
/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 99;
	background: $white;
	line-height: 18px;
	font-size: 14px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 8px 10px;
	color: $storm-dust2;
	height: 1%;
	line-height: 20px;
	font-size: 16px;
	
	&.jcf-selected{display: none;}
}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: $dim-gray;
	color: $white;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}
/* common custom form elements styles */
.jcf-disabled {background: #ddd !important;}
.jcf-focus, .jcf-focus * {border-color: #f00 !important;}