.review-block{
	overflow: hidden;
	background: $white;
	padding: 15px;
	text-align: center;
	
	@include media("≥tablet"){
		text-align: left;
		padding: 20px 15px 10px;
	}
	@include media("≥widescreen"){padding: 24px 30px 29px;}
	
	h2{
		letter-spacing: 1px;
		margin: 0 0 30px;
		
		@include media("≥tablet"){margin: 0 0 40px;}
		@include media("≥desktop"){margin: 0 0 58px;}
	}
	
	.btn{
		&.btn-default{
			border-radius: 0;
			-webkit-border-radius: 0;
			
			&:hover,
			&:active,
			&:focus,
			&.active{
				background: $golden-poppy;
				color: $white;
				border-color: $golden-poppy;
				box-shadow: none;
			}
		}
	}
	
	.holder{
		overflow: hidden;
		@include media("≥widescreen"){padding: 0 2px;}
	}
	
	ul{
		@extend %clearfix;
		@extend %listreset;
		text-align: center;
		width: 100%;
		
		@include media("≥widescreen"){
			float: left;
			width: 49.5%;
		}
		&.add{
			@include media("≥widescreen"){float: right;}
			
			li{
				border-color: $brand-danger;
				
				&:after{border-bottom-color: $brand-danger;}
				&:before{color: $brand-danger;}
				.ico-holder{color: $brand-danger;}
			}
		}
		
		li{
			@include inline-block(top);
			width: 159px;
			height: 159px;
			position: relative;
			z-index: 1;
			padding: 11px 0;
			margin: 0 25px 40px 10px;
			text-align: center;
			@include border-radius(100%);
			border: 11px solid $brand-success;
			
			@include media("≥phone"){margin: 0 25px 40px 10px;}
			@include media("≥tablet"){margin: 0 3px 30px;}
			@include media("≥widescreen"){margin: 0 4px 20px;}
			
			&:after{
				position: absolute;
				right: -11px;
				bottom: -11px;
				content: "";
				width: 0; 
				height: 0; 
				border-bottom: 75px solid $brand-success;
				border-left: 75px solid transparent; 
			}
			
			&:before{
				position: absolute;
				right: -42px;
				bottom: -43px;
				color: $brand-success;
				content: '\Ad804';
				font: {
					size: 40px;
					family: $ico-font;
				}
				line-height: 1em;
				cursor: default;
			}
		}
		
		.ico-holder{
			display: block;
			@include v-align(100%, bottom, before);
			font-size: 22px;
			line-height: 22px;
			margin: 0 0 11px;
			position: relative;
			z-index: 6;
			color: $brand-success;
			
			span{cursor: default;}
		}
		
		.inner-holder{
			position: relative;
			
			&:after{
				position: absolute;
				right: 1px;
				bottom: -20px;
				left: 0;
				top: 0;
				content: "";
				background: $white;
				z-index: 5;
				@include border-radius(100%);
			}
		}
		
		.text{
			height: 72px;
			position: relative;
			padding: 0 15px;
			overflow: hidden;
			z-index: 6;
			@include v-align(100%, middle, before);
			
			p{margin: 0 0 8px;}
		}
	}
}


.modal-1200{
	border-radius: 0;
	width: auto;
	@include media("≥tablet"){width: 730px;}
	@include media("≥desktop"){width: 970px;}
	@include media("≥widescreen"){width: 1170px;}
	.modal-content{border-radius: 0;}
	.modal-header{
		border: 0;
		@include media("≥widescreen"){padding: 25px;}
		h2{
			margin: 0;
			overflow: hidden;
		}
		.close-btn-font{
			cursor: pointer;
			color: $mountain-mist;
			font-size: 1.3em;
			line-height: 1.1em;
			margin: 4px 0 0;
		}
	}
	.modal-body{
		padding: 0 0 20px;
		> div {
			> .vertical-track2{display: none !important;}
		}
		.table{
			margin: 0;
			@include media("<tablet"){
				min-width: 700px;
				width: auto !important;
				max-width: inherit !important;
			}
			thead{
				min-width: 700px;
				th{
					@include fontsize(16, 15);
					line-height: 1.4em;
					padding-top: 10px;
					padding-bottom: 10px;
					color: $white;
					background: $carnelian;
					border: 0;
					border-left: 1px solid $white;
					&:first-child{border-left: 0 ;}
					
					@include media("≥tablet"){
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
			}
			th,
			td{
				text-align: center;
				vertical-align: middle;
				&.item1,&.item2,&.item3,&.item4{width: 16.67%;}
				&.item5{
					width: 33.2%;
					text-align: left;
					padding-left: 10px;
					padding-right: 22px;
					
					@include media("≥tablet"){
						padding-left: 17px;
						padding-right: 25px;
					}
				}
			}
			tbody{
				td{
					@include fontsize(14, 15);
					line-height: 1.4em !important;
					padding-top: 8px;
					padding-bottom: 8px;
					border: 0;
					color: $mountain-mist;
					border-bottom: 1px solid $alto2;
					border-left: 1px solid $alto2;
					&:first-child{border-left: 0 ;}
					
					@include media("≥tablet"){
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				.tel{
					color: $mountain-mist;
					&:hover,
					&:active,
					&:focus{color: darken($mountain-mist,20%);}
				}
			}
		}
	}
}

#scrollbar{
	width: 100% !important;
	padding: 0 !important;
	height: auto !important;
	> div {
		@include media("<tablet"){width: auto!important;}
		> .horizontal-track2{display: none !important;}
	}
}


#scrollbox2 {
    overflow: auto;
    width: 100% !important;
    height: 250px;
    padding: 0 !important;
	
	@include media("<tablet"){min-width: 700px;}
	
	@include media("≥tablet"){height: 517px;}
}

.horizontal-track2{
	@include media("≥tablet"){display: none !important;}
}

.vertical-track2 {
	width: 18px;
	float: right;
}
.vertical-handle2 {
	width: 7px;
	float: left;
	background: rgba($mountain-mist,0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.horizontal-track2 {
    width: 100%;
    height: 18px;
}

.horizontal-handle2 {
	height: 7px;
	background: rgba($mountain-mist,0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
