.review-block{
	overflow: hidden;
	background: $white;
	border: 1px solid $alto2;
	
	.heading-block{
		overflow: hidden;
		padding: 5px 10px;
		border-bottom: 1px solid $alto2;
		margin: 0 0 30px;
		
		@include media("≥tablet"){padding: 5px 10px;}
		@include media("≥desktop"){padding: 7px 10px;}
		@include media("≥widescreen"){padding: 9px 20px;}
		
		.btn{
			font-size: 12px;
			line-height: 20px;
			padding: 5px;
			
			@include media("≥tablet"){
				font-size: 16px;
				line-height: 22px;
				padding: 10px 20px;
			}
			&.btn-default{
				border-radius: 0;
				-webkit-border-radius: 0;

				&:hover,
				&:active,
				&:focus,
				&.active{
					background: $golden-poppy;
					color: $white;
					border-color: $golden-poppy;
					box-shadow: none;
				}
			}
		}
	}
	
	h2{
		margin: 0;
		line-height: 2.2em;
		@include media("<tablet"){font-size: 1.15em;}
		
		span{
			line-height: 1em;
			color: $black;
			margin: 0 2px;
			@include inline-block(middle);
			cursor: default;
			&:before{cursor: default;}
		}
	}
	
	.holder{
		overflow: hidden;
		position: relative;
		padding: 0 15px;
		@include media("≥tablet"){
			padding: 0 10px;
			&:after{
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 35px;
				width: 1px;
				content: "";
				background: $alto2;
			}
		}
		@include media("≥widescreen"){padding: 0 25px;}
	}
	
	ul{
		@extend %clearfix;
		@extend %listreset;
		width: 100%;
		
		@include media("≥tablet"){
			float: left;
			width: 48.5%;
		}
		@include media("≥desktop"){width: 49%;}
		&.add{
			@include media("≥tablet"){float: right;}
			li{
				.inner-holder{
					border-color: $cinnabar;
					&:before {border-top-color: $cinnabar;}
				}
				time{
					&:after{color: $cinnabar;}
				}
			}
		}
		
		li{
			float: left;
			clear: both;
			margin: 0 0 24px;
		}
		
		.inner-holder{
			position: relative;
			padding: 15px;
			border: 1px solid $islamic-green;
			-webkit-box-shadow: 4px 4px rgba($black,.1);
			-moz-box-shadow: 4px 4px rgba($black,.1);
			box-shadow: 4px 4px rgba($black,.1);
			margin: 0 0 15px;
			word-break: break-all;
			
			@include media("≥tablet"){padding: 10px;}
			@include media("≥widescreen"){padding: 15px;}
			
			.text{
				overflow: hidden;
				p{margin: 0;}
			}
			
			&:after, &:before {
				top: 100%;
				left: 22px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-top-color: $white;
				border-width: 10px;
				margin-left: 1px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-top-color: $islamic-green;
				border-width: 11px;
			}
			
			.arrow{
				width: 22px;
				height: 16px;
				left: 21px;
				bottom: -16px;
				position: absolute;
				overflow: hidden;
				&:after {
					content: "";
					position: absolute;
					width: 15px;
					height: 16px;
					-moz-transform: rotate(45deg); 
					  -webkit-transform: rotate(45deg);
					  -o-transform: rotate(45deg);
					  -ms-transform:rotate(45deg);
					top: -8px;
					left: 5px;
					-webkit-box-shadow: 4px 4px rgba($black,.1);
					-moz-box-shadow: 4px 4px rgba($black,.1);
					box-shadow: 4px 4px rgba($black,.1);
				}
			}
		}
		time{
			float: left;
			position: relative;
			padding: 0 0 0 14px;
			color: $mountain-mist;
			font-size: 12px;
			line-height: 16px;
			margin: -8px 0 0 40px;
			
			&:after{
				position: absolute;
				left: 0;
				top: 2px;
				font: 11px/11px $ico-font;
				content: '\ad804';
				color: $islamic-green;
			}
		}
	}
}


.modal-1200{
	border-radius: 0;
	width: auto;
	@include media("≥tablet"){width: 745px;}
	@include media("≥desktop"){width: 970px;}
	@include media("≥widescreen"){width: 1170px;}
	.modal-content{border-radius: 0;}
	.modal-header{
		border: 0;
		@include media("≥widescreen"){padding: 25px;}
		h2{
			margin: 0;
			overflow: hidden;
		}
		.close-btn-font{
			cursor: pointer;
			color: $mountain-mist;
			font-size: 1.3em;
			line-height: 1.1em;
			margin: 4px 0 0;
			&:hover{color: lighten($mountain-mist,10%);}
		}
	}
	.modal-body{
		padding: 0 0 20px;
		> div {
			> .vertical-track2{display: none !important;}
		}
		.table{
			margin: 0;
			@include media("<tablet"){
				min-width: 730px;
				width: auto !important;
				max-width: inherit !important;
			}
			thead{
				@include media("<tablet"){min-width: 730px;}
				th{
					@include fontsize(16, 15);
					line-height: 1.4em;
					padding-top: 10px;
					padding-bottom: 10px;
					color: $white;
					background: $carnelian;
					border: 0;
					border-left: 1px solid $white;
					&:first-child{border-left: 0 ;}
					
					@include media("≥tablet"){
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
			}
			th,
			td{
				text-align: center;
				vertical-align: middle;
				padding-left: 4px;
				padding-right: 4px;
				
				@include media("≥widescreen"){
					padding-left: 8px;
					padding-right: 8px;
				}
				&.item1{width: 14%;}
				&.item2{width: 13.5%;}
				&.item6{
					width: 12.5%;
					padding-right: 17px;
					@include media("≥widescreen"){padding-right: 19px;}
					a{
						display: block;
						padding: 6px;
						margin: 0 auto;
						@include fontsize(16, 15);
					}
				}
				&.item3,&.item4{
					width: 10%;
					word-break: normal;
					word-wrap: break-word;
				}
				&.item5{
					width: 39%;
					text-align: left;
					padding-left: 20px;
					padding-right: 10px;
				}
			}
			tbody{
				td{
					position: relative;
					word-break: break-all;
					@include fontsize(14, 15);
					line-height: 1.4em !important;
					padding-top: 8px;
					padding-bottom: 8px;
					border: 0;
					color: $mountain-mist;
					border-bottom: 1px solid $alto2;
					border-left: 1px solid $alto2;
					overflow: hidden;
					background: none;
					&:first-child{border-left: 0 ;}
					
					@include media("≥tablet"){
						padding-top: 10px;
						padding-bottom: 10px;
					}
					.text{overflow: hidden;}
					.ico{
						width: 10px;
						background: $islamic-green;
						position: absolute;
						left: 0;
						top: 0;
						bottom: -9999px;
					}
				}
				tr{
					background: $white;
					&:hover{
						background: darken($white,2%);
					}
					&.negative{
						td{
							.ico{background: $cinnabar;}
						}
					}
					&.success{
						background: lighten($tea-green,10%);
						td{
							&.item6{
								.btn{
									&.btn-info{
										background: $islamic-green;
										border-color: $islamic-green;
										
										&:hover,
										&:active,
										&:focus{
											background: darken($islamic-green, 5%);
											border-color: darken($islamic-green, 5%);
										}
									}
								}
							}
						}
					}
				}
				.tel{
					color: $mountain-mist;
					&:hover,
					&:active,
					&:focus{color: darken($mountain-mist,20%);}
				}
			}
		}
	}
}

#scrollbar{
	width: 100% !important;
	padding: 0 !important;
	height: auto !important;
	> div {
		bottom: 0 !important;
		> .enscroll-track{
			&.vertical-track2{
				height: 100% !important;
				padding: 0 0 20px;
			}
		}
		@include media("<tablet"){
			width: auto !important;
		}
		> .horizontal-track2{display: none !important;}
	}
}


#scrollbox2 {
    overflow: auto;
    width: 100% !important;
    height: 250px;
    padding: 0 !important;
	
	@include media("<tablet"){min-width: 730px;}
	
	@include media("≥tablet"){height: 517px;}
}

.horizontal-track2{
	@include media("≥tablet"){display: none !important;}
}

.vertical-track2 {
	width: 15px;
	float: right;
}
.vertical-handle2 {
	width: 7px;
	float: left;
	background: rgba($mountain-mist,0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.horizontal-track2 {
    width: 100%;
    height: 7px;
}

.horizontal-handle2 {
	height: 7px;
	background: rgba($mountain-mist,0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.loading{
	.loader{display: block;}
}

.loader{
	display: none;
	background: url(../assets/images/loading.gif) no-repeat;
	width: 82px;
	height: 82px;
	margin: 20px auto;
}