.dashboard{
	#header{
		@include media("≥tablet"){
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}
	}
}
#header{
	position: relative;
	z-index: 999;
	
	&:after{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		content: "";
		height: 20px;
		background: $carnelian;
		-webkit-box-shadow: 0 5px 5px rgba($black,.08);
		-moz-box-shadow: 0 5px 5px rgba($black,.08);
		box-shadow: 0 5px 5px rgba($black,.08);
		
		@include media("≥tablet"){height: 28px;}
	}
	
	&:before{
		position: absolute;
		left: 50%;
		top: 0;
		width: 120px;
		height: 20px;
		margin-left: -60px;
		z-index: 2;
		content: "";
		background: $golden-poppy;
		
		@include media("≥tablet"){
			margin-left: -125px;
			width: 250px;
			height: 28px;
		}
		
		@include media("≥desktop"){
			margin-left: -150px;
			width: 300px;
		}
		
		@include media("≥widescreen"){
			margin-left: -168px;
			width: 336px;
		}
	}
	
	.header-list{
		float: right;
		@extend .list-inline;
		margin: 0;
		font-size: 14px;
		line-height: 16px;
		padding: 1px 0 0;
		position: relative;
		z-index: 99;
		text-transform: capitalize;
		
		@include media("≥tablet"){padding: 6px 0 0;}
		
		li{
			vertical-align: top;
			padding: 0 15px 0 0;
			color: $white;
			
			@include media("≥tablet"){padding: 0 15px 0 5px;}
			
			a{
				color: $white;
				&:hover{color: $banana-yellow;}
			}
			
			&.name{@extend .hidden-xs;}
		}
	}
	
	.logo{
		display: block;
		margin: 0 auto 15px;
		width: 75px;
		height: auto;
		position: relative;
		z-index: 3;
		
		@include media("≥tablet"){
			width: 100px;
			margin: 0 auto 25px;
		}
		
		@include media("≥desktop"){width: 110px;}
		@include media("≥widescreen"){width: 118px;}
		
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
}