#wrapper{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#main{
	@extend .container;
	margin-bottom: 7px;
}

.section{
	@extend .row;
	margin-bottom: 18px;
}

.section-holder{@extend .col-xs-12;}

.block{
	@extend .col-md-6;
	&:first-child{margin-bottom: 18px;}
	
	@include media("≥desktop"){
		&:first-child{margin-bottom: 0;}
	}
}

.header{
	@extend .row;
	@extend .text-center;
	margin-bottom: 13px;
}