<!DOCTYPE html>
<html ng-app="livefeed" ng-controller="AppCtrl" class="no-js">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <script src="//www.parsecdn.com/js/parse-1.2.15.js"></script>

  </head>
  <body id="app" class="app" data-custom-page data-off-canvas-nav data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">

    <section data-ng-include=" 'header.tpl.html' " id="header" class="header-container " data-ng-class=" {'header-fixed': admin.fixedHeader} "></section>

    <div class="main-container">
      <aside data-ng-include=" 'nav.tpl.html' " id="nav-container" class="nav-container" data-ng-class=" {'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}">
      </aside>

      <section ui-view = "main" id="content" class="content-container animate-fade-up"></section>
    </div>

  </body>
</html>
