<!DOCTYPE html>
<html ng-app="livefeed" ng-controller="AppCtrl" class="no-js">
  <head>
    
    <title>Macdonald Dashbaord</title>

    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,900' rel='stylesheet' type='text/css'>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <script type="text/javascript" src="assets/javascript/jquery.main.js"></script>

        <!-- Morris demo data-->
    <script src="assets/javascript/morris-Updated.js"></script>

    <!-- Flot demo data -->
    <script src="assets/javascript/flot-Updated.js"></script>

    <script src="assets/javascript/chartjs-Updated.js"></script>

    <script src="assets/javascript/inspinia.js"></script>

    <script src="assets/javascript/jquery.slimscroll.min.js"></script>




  </head>

  <body>

  <ui-view></ui-view>

  </body>

</html>
