<!DOCTYPE html>
<html ng-app="livefeed" ng-controller="AppCtrl" class="no-js">
  <head>

    <title>Macdonald Dashboard</title>

    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" ng-if = "currentState != 'live'"/><% }); %>

    <link rel="stylesheet" type="text/css" href= "assets/live.css" ng-if = "currentState == 'live'"%>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,900' rel='stylesheet' type='text/css' >

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,300italic,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <script src="https://maps.google.com/maps/api/js"></script>


    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- <script type="text/javascript" src="assets/javascript/jquery.main.js"></script> -->

    <script type="text/javascript" src="assets/javascript/jquery.main1.js"></script>
    

    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>




  </head>

  <body ng-class = "{'login': currentState == 'login'}">

    <ui-view></ui-view>

  </body>

</html>
