<div class="section-holder ng-scope">
	<div class="info-holder">
  
  <div class="heading-holder">
  	<h2>Overall Rating</h2>
  	<ul>
  		<li><a href="#" class="btn btn-default"  ng-class="{active: class == ''}" ng-click = "onClick(null, 'All')">all</a></li>
  		<li><a href="#" class="btn btn-default"  ng-class="{active: class == 'Quality'}" ng-click = "onClick(QualityID, 'Quality')">Quality</a></li>
  		<li><a href="#" class="btn btn-default"  ng-class="{active: class == 'Service'}" ng-click = "onClick(ServiceID, 'Service')">Service</a></li>
  		<li><a href="#" class="btn btn-default"  ng-class="{active: class == 'Cleanliness'}" ng-click = "onClick(CleanlinessID, 'Cleanliness')">Cleanliness</a></li>
  		<li>
			<div class="calender-outer">
				<span class = "calendar-holder pull-right">
				  <input date-range-picker id="daterange-map" readonly="readonly" name="daterange-map" class="date-picker" type="text" ng-model="date" max="today" />
				  <i class="glyphicon glyphicon-calendar" map-range-click></i>
				</span>
			</div>
		</li>
  	</ul>
  </div>
  
  <div class="progress-container {{class}}" ng-class="{loading: show_loading}">
  	<div class="holder">
  		<ul class="list add">
			<li ng-repeat = "dat in category_data"><a href="#">{{dat.name}}</a></li>
		</ul>
  		<div class="progress-area">

			<div class="progress-section" ng-repeat = "segment in segments">

			<small><em>{{segment.name}}</em></small>

				<div class="inner-holder">
					 <uib-progress><uib-bar ng-repeat="bar in segment.segment_data track by $index" value="bar.percentage" type="{{bar.class}}"><span>{{bar.complaints}}</span></uib-bar></uib-progress>
				</div>

		  </div>
		</div>
  	</div>
  	<div class="holder">
  		<div class="progress-area">
			<div class="progress-holder {{dat.colour}}" ng-repeat = "dat in category_data">
				<small><em>{{dat.name}}</em></small>
				<div class="progress-block"><uib-progressbar animate="false" value="dat.percentage" type="success"><b>{{dat.complaints}}</b></uib-progressbar></div>
		  </div>
  		</div>
  	</div>
  </div>
</div> 
</div>