<div class="section-holder ng-scope">
	<div class="info-holder">

  <div class="heading-holder">
  	<h2>Business Segment Breakdown
  		<span class="icon-help" uib-popover="Representation of the overall QSC breakdown for each business segment. Change the tabs for sub-categories of each main category." popover-trigger="mouseenter" popover-placement="top"></span>
	</h2>
  	<ul>
  		<li><a class="btn btn-default"  ng-class="{active: class == ''}" ng-click = "onClick(null, 'All')" uib-tooltip="Click to view QSC Segmentation Breakdown" >All</a></li>
  		<li><a class="btn btn-default"  ng-class="{active: class == 'Quality'}" ng-click = "onClick(QualityID, 'Quality')" uib-tooltip="Click to View Quality SubCategories Breakdown">Quality</a></li>
  		<li><a class="btn btn-default"  ng-class="{active: class == 'Service'}" ng-click = "onClick(ServiceID, 'Service')" uib-tooltip="Click to view Service SubCategories Breakdown">Service</a></li>
  		<li><a class="btn btn-default"  ng-class="{active: class == 'Cleanliness'}" ng-click = "onClick(CleanlinessID, 'Cleanliness')" uib-tooltip="Click to view Cleanliness SubCategories Breakdown">Cleanliness</a></li>
  		<li>
			<div class="calender-outer">
				<span class = "calendar-holder pull-right" uib-tooltip="Click to Select Custom Date Range">
				  <input date-range-picker id="daterange-map" readonly="readonly" name="daterange-map" class="date-picker" type="text" ng-model="date" max="today" options = "datePickerOption"/>
				  <i class="glyphicon glyphicon-calendar" map-range-click></i>
				</span>
			</div>
		</li>
  	</ul>
  </div>

  <div class="progress-container {{class}}" ng-class="{loading: show_loading}">
  	<ul class="list add">
		  <li ng-repeat = "dat in category_data">{{dat.name}}</li>
	  </ul>
  	<div class="main-holder">
  		<div class="holder">
  		<div class="progress-area">

			<div class="progress-section" ng-repeat = "segment in segments">

			<small><em>{{segment.name}}</em></small>

				<div class="inner-holder">
					 <uib-progress><uib-bar ng-repeat="bar in segment.segment_data track by $index" value="bar.percentage" type="{{bar.class}}"><span>{{bar.complaints}}</span></uib-bar></uib-progress>
				</div>

		  </div>
		</div>
  	</div>
  	<div class="holder">
  		<div class="progress-area">
			<div class="progress-holder" ng-repeat = "dat in category_data" data-color = "dat.colour" data-data = "category_data" progress-bar-background>
				<small><em>{{dat.name}}</em></small>
				<div class="progress-block"><uib-progressbar animate="false" value="dat.percentage" type="success"><b>{{dat.complaints}} complaints</b></uib-progressbar></div>
		  </div>
  		</div>
  	</div>
  	</div>
  </div>
</div>
</div>
